@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: 'ghanachoco';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooc-Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooc-Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooc-Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooc-ExtraBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html::-webkit-scrollbar {
  width: 20px;
  height: 30px;
}

html::-webkit-scrollbar-thumb {
  background: #fdc60a;
  border-radius: 30px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 4.55vw;
  border-radius: 0 0 20px 20px;
  border-bottom: 1px solid #222;
  z-index: 100;
}

.header .header-container {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .header-container h1 {
  -ms-flex-preferred-size: 17.5%;
      flex-basis: 17.5%;
  margin: 0.45vw 0 0 0;
}

.header .header-container h1 a {
  font-family: 'ghanachoco';
  font-size: 2.85vw;
  color: #FDC60A;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(http://1.bp.blogspot.com/-s3Q_6B5LFNw/UsmEm-9GY-I/AAAAAAAAToY/eV7y7D3tvZ4/s1600/goldglitter.gif) repeat;
  background: linear-gradient(transparent, transparent), url(http://1.bp.blogspot.com/-s3Q_6B5LFNw/UsmEm-9GY-I/AAAAAAAAToY/eV7y7D3tvZ4/s1600/goldglitter.gif) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
}

.header .header-container h1 a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(https://data.whicdn.com/images/275602967/original.gif);
  background: linear-gradient(transparent, transparent), url(https://data.whicdn.com/images/275602967/original.gif);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
}

.header .header-container .header-center-nav {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-container .header-center-nav ul li {
  float: left;
}

.header .header-container .header-center-nav ul li a {
  font-size: 1.18vw;
  color: #FDC60A;
}

.header .header-container .header-center-nav ul li a span {
  position: relative;
  display: block;
  padding: 0 20px;
  overflow: hidden;
}

.header .header-container .header-center-nav ul li a span:before {
  content: '';
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(https://data.whicdn.com/images/267317953/original.gif);
  background-size: cover;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  transition: -webkit-transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  transition: transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  transition: transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s, -webkit-transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
}

.header .header-container .header-center-nav ul li a:hover span:before {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.header .header-container .header-right-nav {
  -ms-flex-preferred-size: 17.5%;
      flex-basis: 17.5%;
  text-align: right;
  margin: 0.2vw 0 0 0;
}

.header .header-container .header-right-nav .fa-github {
  font-size: 2vw;
  color: #FDC60A;
}

.info {
  position: fixed;
  top: 5.5vw;
  background: white;
  color: #000;
  padding: 1vw;
  font-size: 1vw;
  z-index: 100;
}

/*메인*/
.main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.main .container {
  padding: 4vw 0 2vw 0;
}

.main .container .uiux-land {
  width: 1487px;
  height: 1843px;
  background: #ccc;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.main .container .uiux-land .land {
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  opacity: 0;
}

.main .container .uiux-land .home {
  position: absolute;
  left: 62.35%;
  top: 8.65%;
  -webkit-transform: translate(0, -200%) scale(1, 2);
          transform: translate(0, -200%) scale(1, 2);
  opacity: 0;
}

.main .container .uiux-land .table {
  position: absolute;
  left: 64.75%;
  top: 13.25%;
  -webkit-transform: translate(0, -200%) scale(1, 2);
          transform: translate(0, -200%) scale(1, 2);
  opacity: 0;
}

.main .container .uiux-land .hut {
  position: absolute;
  left: 42.18%;
  top: 20.15%;
  -webkit-transform: translate(0, -200%) scale(1, 2);
          transform: translate(0, -200%) scale(1, 2);
  opacity: 0;
}

.main .container .uiux-land .road {
  position: absolute;
  left: 53.732%;
  top: 23.2%;
  -webkit-transform: translate(0, -200%) scale(1, 2);
          transform: translate(0, -200%) scale(1, 2);
  opacity: 0;
}

.main .container .uiux-land .greenhouse {
  position: absolute;
  left: 19.12%;
  top: 36.855%;
  -webkit-transform: translate(0, -200%) scale(1, 2);
          transform: translate(0, -200%) scale(1, 2);
  opacity: 0;
}

.main .container .uiux-land .nature {
  position: absolute;
  left: 18.55%;
  top: 10.1%;
}

.main .container .uiux-land .field {
  position: absolute;
  left: 40.45%;
  top: 10.1%;
  -webkit-transform: scale(0.8, 0);
          transform: scale(0.8, 0);
  opacity: 0;
  -webkit-transform-origin: 50% 90%;
          transform-origin: 50% 90%;
  -webkit-animation: sway1 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
          animation: sway1 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
}

.main .container .uiux-land .jujubeTomato {
  position: absolute;
  left: 40.05%;
  top: 15.4%;
  -webkit-transform: scale(0.8, 0);
          transform: scale(0.8, 0);
  opacity: 0;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation: sway1 1.5s 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
          animation: sway1 1.5s 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
}

.main .container .uiux-land .watermelon {
  position: absolute;
  left: 27.85%;
  top: 13.55%;
  -webkit-transform: scale(0.8, 0);
          transform: scale(0.8, 0);
  opacity: 0;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation: sway2 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
          animation: sway2 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
}

.main .container .uiux-land .sharon {
  position: absolute;
  left: 60.35%;
  top: 18%;
  -webkit-transform: scale(0.8, 0);
          transform: scale(0.8, 0);
  opacity: 0;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation: sway1 1.5s 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
          animation: sway1 1.5s 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
}

.main .container .uiux-land .appletree {
  position: absolute;
  left: 18.55%;
  top: 13.22%;
  -webkit-transform: scale(0.8, 0);
          transform: scale(0.8, 0);
  opacity: 0;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation: sway1 1.5s 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
          animation: sway1 1.5s 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
}

.main .container .uiux-land .rice {
  position: absolute;
  left: 76.1%;
  top: 19.65%;
  -webkit-transform: scale(0.8, 0);
          transform: scale(0.8, 0);
  opacity: 0;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation: sway1 1.5s 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
          animation: sway1 1.5s 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
}

.main .container .uiux-land .lavender {
  position: absolute;
  left: 25.97%;
  top: 24.63%;
  -webkit-transform: scale(0.8, 0);
          transform: scale(0.8, 0);
  opacity: 0;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation: sway1 1.5s 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
          animation: sway1 1.5s 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
}

.main .container .uiux-land .cosmos {
  position: absolute;
  left: 53.08%;
  top: 36.09%;
  -webkit-transform: scale(0.8, 0);
          transform: scale(0.8, 0);
  opacity: 0;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
          animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
}

.main .container .uiux-land .chrysanthemum {
  position: absolute;
  left: 64.28%;
  top: 36.25%;
  -webkit-transform: scale(0.8, 0);
          transform: scale(0.8, 0);
  opacity: 0;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
          animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
}

.main .container .uiux-land .sunflower {
  position: absolute;
  left: 51.07%;
  top: 37.7%;
  -webkit-transform: scale(0.8, 0);
          transform: scale(0.8, 0);
  opacity: 0;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
          animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
}

.main .container .uiux-land .rosemose {
  position: absolute;
  left: 66.4%;
  top: 37.95%;
  -webkit-transform: scale(0.8, 0);
          transform: scale(0.8, 0);
  opacity: 0;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  -webkit-animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
          animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
}

.main .container-cloud-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.main .container-cloud-front {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes sway1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(1, 1);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px) scale(1, 0.96);
  }
}

@keyframes sway1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(1, 1);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px) scale(1, 0.96);
  }
}

@-webkit-keyframes sway2 {
  0% {
    -webkit-transform: rotateZ(0) translateX(0px) scale(1);
    transform: rotateZ(0) translateX(0px) scale(1);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateZ(3deg) translateX(3px) scale(0.96, 0.96);
    transform: rotateZ(3deg) translateX(3px) scale(0.96, 0.96);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}

@keyframes sway2 {
  0% {
    -webkit-transform: rotateZ(0) translateX(0px) scale(1);
    transform: rotateZ(0) translateX(0px) scale(1);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateZ(3deg) translateX(3px) scale(0.96, 0.96);
    transform: rotateZ(3deg) translateX(3px) scale(0.96, 0.96);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}

#contents {
  position: relative;
  margin: 100vh 0 0 0;
}

/*콘텐츠 - 메뉴*/
.menu-style {
  margin: 0 0 2vw 0;
}

.menu-style .container {
  width: 90vw;
  height: 70vw;
  margin: 0 auto;
  padding: 10vw 0 0 0;
  background: #ffa3a3;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}

.menu-style .container .title {
  margin: 0 10% 5% 10%;
}

.menu-style .container .title .title-main {
  font-size: 3vw;
}

.menu-style .container .title .title-main strong {
  color: #FDC60A;
}

.menu-style .container .title .title-sub {
  font-size: 1vw;
}

.menu-style .container .item-list1 {
  margin: 0 10%;
  height: 18vw;
  background: #fffd83;
}

.menu-style .container .item-list1 .item-col {
  float: left;
  width: 25%;
  height: 100%;
  background: #9b9b9b;
  border-left: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-style .container .item-list1 .item-col .item-thumbnail {
  display: block;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background: #FDC60A;
  overflow: hidden;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-style .container .item-list1 .item-col .item-thumbnail .item {
  width: 70%;
  height: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu-style .container .item-list1 .item-col .item-thumbnail .item img {
  width: 100%;
}

.menu-style .container .item-list1 .item-col .item-thumbnail .item-name {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 2vw;
  font-size: 2vw;
  font-weight: 700;
  text-align: center;
  -webkit-transition: top 0.35s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: top 0.35s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu-style .container .item-list1 .item-col .item-thumbnail .item-name.name2 {
  line-height: 2vw;
}

.menu-style .container .item-list1 .item-col .item-thumbnail:hover {
  background: white;
  -webkit-box-shadow: 0px 20px 30px 2px rgba(22, 95, 190, 0.15);
          box-shadow: 0px 20px 30px 2px rgba(22, 95, 190, 0.15);
}

.menu-style .container .item-list1 .item-col .item-thumbnail:hover .item {
  top: 42%;
}

.menu-style .container .item-list1 .item-col .item-thumbnail:hover .item-name {
  top: 63%;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.menu-style .container .item-list2 {
  height: 18vw;
  background: #a3ffe8;
  margin: 2vw 0 0 0;
}

.menu-style .container .item-list2 .item-col {
  float: left;
  width: 20%;
  height: 100%;
  background: #727272;
  border-left: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-style .container .item-list2 .item-col .item-thumbnail {
  display: block;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background: #FDC60A;
  overflow: hidden;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-style .container .item-list2 .item-col .item-thumbnail .item {
  width: 70%;
  height: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu-style .container .item-list2 .item-col .item-thumbnail .item img {
  width: 100%;
}

.menu-style .container .item-list2 .item-col .item-thumbnail .item-name {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 2vw;
  font-size: 2vw;
  font-weight: 700;
  text-align: center;
  -webkit-transition: top 0.35s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: top 0.35s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu-style .container .item-list2 .item-col .item-thumbnail .item-name.name2 {
  line-height: 2vw;
}

.menu-style .container .item-list2 .item-col .item-thumbnail:hover {
  background: white;
  -webkit-box-shadow: 0px 20px 30px 2px rgba(22, 95, 190, 0.15);
          box-shadow: 0px 20px 30px 2px rgba(22, 95, 190, 0.15);
}

.menu-style .container .item-list2 .item-col .item-thumbnail:hover .item {
  top: 42%;
}

.menu-style .container .item-list2 .item-col .item-thumbnail:hover .item-name {
  top: 63%;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

/*콘텐츠 - 애니메이션*/
.animation-style {
  margin: 0 0 2vw 0;
}

.animation-style .container {
  width: 90vw;
  height: 120vw;
  margin: 0 auto;
  padding: 10vw 0 0 0;
  background: #dcffa3;
}

.animation-style .container .title {
  margin: 0 10% 5% 10%;
}

.animation-style .container .title .title-main {
  font-size: 3vw;
}

.animation-style .container .title .title-main strong {
  color: #FDC60A;
}

.animation-style .container .title .title-sub {
  font-size: 1vw;
}

.animation-style .container .title h4 {
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 3vw;
}

.animation-style .container .controls {
  background: #cac2a9;
  width: 8.5vw;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  z-index: 1;
}

.animation-style .container .controls fieldset {
  width: 6.2vw;
  background: #FDC60A;
  border-radius: 13%;
  padding: 1vw;
}

.animation-style .container .controls fieldset .checkbox {
  margin: 0 auto 0.5vw auto;
  position: relative;
  overflow: hidden;
}

.animation-style .container .controls fieldset .checkbox input[type="checkbox"] {
  cursor: pointer;
  float: left;
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.animation-style .container .controls fieldset .checkbox label {
  cursor: pointer;
  float: left;
  font-size: 1vw;
  padding: 0 0.7vw 0 2vw;
  vertical-align: top;
}

.animation-style .container .controls fieldset .checkbox label:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.5vw;
  height: 1.5vw;
  background: #fff;
  border-radius: 15%;
  pointer-events: none;
}

.animation-style .container .controls fieldset .checkbox label:after {
  content: '';
  display: block;
  position: absolute;
  left: 0.25vw;
  top: 0.25vw;
  width: 1vw;
  height: 1vw;
  background: black;
  border-radius: 20%;
  display: none;
  pointer-events: none;
}

.animation-style .container .controls fieldset .checkbox input:checked ~ label:after {
  display: block;
}

.animation-style .container .controls fieldset button {
  cursor: pointer;
  padding: 0.5vw;
  border-radius: 15%;
  font-size: 1vw;
  font-weight: 500;
  -webkit-box-shadow: 0 0.3vw 0.3vw 0.1vw #0099de;
          box-shadow: 0 0.3vw 0.3vw 0.1vw #0099de;
  outline: none;
  border-color: #0099de;
  background: #fff;
}

.animation-style .container .filter-container {
  margin: 0 5%;
  background: #9024b1;
  overflow: hidden;
}

.animation-style .container .filter-container .box {
  float: left;
  width: 23.5%;
  margin: 0 2% 2% 0;
  height: 19.035vw;
  background: #ff83d6;
  border-radius: 15%;
  border: 0.3vw solid #FDC60A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.animation-style .container .filter-container .box iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  border-radius: 13.5%;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.animation-style .container .filter-container .box:nth-child(4n) {
  margin: 0 0 2% 0;
}

.animation-style .container .filter-container .box.hide {
  display: none;
}

.animation-style .container .filter-container .box.pick {
  display: block;
}

/*콘텐츠 - 오버효과*/
.hover-style {
  margin: 0 0 2vw 0;
}

.hover-style .container {
  width: 90vw;
  height: 60vw;
  margin: 0 auto;
  padding: 10vw 0 0 0;
  background: #4df197;
}

.hover-style .container .title {
  margin: 0 10% 5% 10%;
}

.hover-style .container .title .title-main {
  font-size: 3vw;
}

.hover-style .container .title .title-main strong {
  color: #FDC60A;
}

.hover-style .container .title .title-sub {
  font-size: 1vw;
}

.hover-style .container .item-list {
  height: 30vw;
  background: #a4cbff;
  position: relative;
}

.hover-style .container .item-list .item-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #ffd372;
  overflow: hidden;
}

.hover-style .container .item-list .item-left .item-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.hover-style .container .item-list .item-left .item-container iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hover-style .container .item-list .item-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #ffb158;
  overflow: hidden;
}

.hover-style .container .item-list .item-right .item-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.hover-style .container .item-list .item-right .item-container iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*콘텐츠 - 패럴럭스*/
.parallax-style {
  margin: 0 0 2vw 0;
}

.parallax-style .container {
  width: 100%;
  height: 60vw;
  padding: 10vw 0 0 0;
  background: #ffbadc;
}

.parallax-style .container .title {
  text-align: center;
  margin: 0 0 5vw 0;
}

.parallax-style .container .title .title-main {
  font-size: 3vw;
}

.parallax-style .container .title .title-main strong {
  color: #FDC60A;
}

.parallax-style .container .title .title-sub {
  font-size: 1vw;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide {
  height: 38vw;
  background: #FDC60A;
  border-radius: 13.5%;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide .item-thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  background: #b7ffa8;
  position: relative;
  overflow: hidden;
  border-radius: 13.5%;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide .item-thumbnail .item-hover {
  width: 100%;
  height: 100%;
  background: #e6ccff;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 13.5%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.65s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
  transition: -webkit-transform 0.65s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
  transition: transform 0.65s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
  transition: transform 0.65s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s, -webkit-transform 0.65s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide .item-thumbnail .item-hover iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 250%;
  height: 250%;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  border-radius: 13.5%;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide .item-thumbnail .item-hover .item-hover-title {
  position: absolute;
  left: 0;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-animation: 4s  item-hover-title linear infinite;
          animation: 4s  item-hover-title linear infinite;
  overflow: hidden;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide .item-thumbnail .item-hover .item-hover-title h3 {
  width: 85vw;
  font-size: 13vw;
  color: #FDC60A;
  font-family: 'ghanachoco';
  font-style: italic;
  text-transform: uppercase;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide .item-thumbnail .item-hover .item-hover-title h3 span {
  color: #009fd8;
  padding: 0 1.5vw 0 0;
  font-style: italic;
  font-weight: bold;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide .item-thumbnail .item {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 13.5%;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide .item-thumbnail .item .circle {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  background: url("../images/parallax/space1.jpg");
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
  transition: -webkit-transform 0.6s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
  transition: transform 0.6s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
  transition: transform 0.6s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s, -webkit-transform 0.6s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide .item-thumbnail .item h3 {
  font-size: 20vw;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-53%, -55%);
          transform: translate(-53%, -55%);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
  transition: -webkit-transform 0.6s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
  transition: transform 0.6s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
  transition: transform 0.6s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s, -webkit-transform 0.6s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide .item-thumbnail .item:hover .circle {
  -webkit-transform: translate(-60%, -55%) rotate(-10deg) scale(1.2);
          transform: translate(-60%, -55%) rotate(-10deg) scale(1.2);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  transition: transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  transition: transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s, -webkit-transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide .item-thumbnail .item:hover h3 {
  -webkit-transform: translate(-53%, -55%) rotate(5deg);
          transform: translate(-53%, -55%) rotate(5deg);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0.05s;
  transition: -webkit-transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0.05s;
  transition: transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0.05s;
  transition: transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0.05s, -webkit-transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0.05s;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-wrapper .swiper-slide .item-thumbnail:hover .item-hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  transition: transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  transition: transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s, -webkit-transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-button-prev {
  width: 10vw;
  height: 10vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-button-prev .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-button-prev .arrow path {
  stroke: #000;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-button-prev:hover .arrow path {
  stroke: #fff;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-button-next {
  width: 10vw;
  height: 10vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-button-next .arrow path {
  stroke: #000;
}

.parallax-style .container .item-list-parallax .swiper-container .swiper-button-next:hover .arrow path {
  stroke: #fff;
}

@-webkit-keyframes item-hover-title {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes item-hover-title {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

/*콘텐츠 - 마우스*/
.mouse-style {
  margin: 0 0 2vw 0;
}

.mouse-style .container {
  width: 100%;
  height: 70vw;
  padding: 10vw 0 0 0;
  background: #bafaff;
}

.mouse-style .container .title {
  text-align: center;
  margin: 0 0 5vw 0;
}

.mouse-style .container .title .title-main {
  font-size: 3vw;
}

.mouse-style .container .title .title-main strong {
  color: #FDC60A;
}

.mouse-style .container .title .title-sub {
  font-size: 1vw;
  color: #363636;
}

.mouse-style .container .item-list-mouse {
  position: relative;
}

.mouse-style .container .item-list-mouse .slide-wrap {
  width: 80vw;
  height: 45vw;
  margin: 0 auto;
  background: #FDC60A;
  border-radius: 30px;
  overflow: hidden;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container {
  width: 800vw;
  height: 100%;
  background: #676dc2;
  border-radius: 30px;
  position: relative;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide {
  float: left;
  width: 80vw;
  height: 45vw;
  background: #c5d69d;
  border-radius: 30px;
  position: relative;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide .slide-img {
  width: 100%;
  height: 100%;
  background: #005e24;
  border-radius: 30px;
  position: relative;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide .slide-img iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  border-radius: 30px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide .slide-title {
  position: absolute;
  left: 1.5%;
  top: 2%;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide .slide-title h3 {
  font-size: 2.5vw;
  font-family: 'Poppins';
  font-weight: 700;
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide .slide-title h3 span {
  opacity: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: translate(20%, 100%);
          transform: translate(20%, 100%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide .slide-num {
  position: absolute;
  left: 25%;
  top: 2%;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide .slide-num span {
  font-size: 2.5vw;
  font-family: 'Poppins';
  font-weight: 700;
  opacity: 0;
  -webkit-transition: opacity 0.1s 1s ease;
  transition: opacity 0.1s 1s ease;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide .slide-num .currentIndex {
  padding: 0 2vw 0 0;
  position: relative;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide .slide-num .currentIndex::before {
  content: '';
  position: absolute;
  right: 20%;
  top: 50%;
  width: 0.45vw;
  height: 80%;
  background: #000;
  -webkit-transform: translate(0, -50%) skewX(-15deg);
          transform: translate(0, -50%) skewX(-15deg);
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide .slide-num:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0%;
  background: #6493af;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide.slider-active .slide-title h3 span {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide.slider-active .slide-num span {
  opacity: 1;
}

.mouse-style .container .item-list-mouse .slide-wrap .slide-container .slide.slider-active .slide-num:before {
  -webkit-animation: slideNum 1s 0.5s ease;
          animation: slideNum 1s 0.5s ease;
}

.mouse-style .container .item-list-mouse .btn-prev {
  width: 10vw;
  height: 10vw;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.mouse-style .container .item-list-mouse .btn-prev .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mouse-style .container .item-list-mouse .btn-prev .arrow path {
  stroke: #000;
}

.mouse-style .container .item-list-mouse .btn-prev:hover .arrow path {
  stroke: #6493af;
}

.mouse-style .container .item-list-mouse .btn-next {
  width: 10vw;
  height: 10vw;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.mouse-style .container .item-list-mouse .btn-next .arrow path {
  stroke: #000;
}

.mouse-style .container .item-list-mouse .btn-next:hover .arrow path {
  stroke: #6493af;
}

.mouse-style .container .item-list-mouse .slide-dots {
  width: 40vw;
  height: 2vw;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 120%);
          transform: translate(-50%, 120%);
  background: #336aff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mouse-style .container .item-list-mouse .slide-dots .dot {
  width: 2vw;
  height: 2vw;
  border-radius: 30%;
  border: 0.2vw solid #000;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #6493af;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000), to(#0002)), radial-gradient(90% 15% at 50% 8%, #fff7 25%, #fff0 50%);
  background-image: linear-gradient(180deg, #0000, #0002), radial-gradient(90% 15% at 50% 8%, #fff7 25%, #fff0 50%);
  -webkit-box-shadow: 0 0.1vw 0 0.05vw #0007, 0 -0.15vw 0 0.05vw rgba(0, 0, 0, 0.3), 0 -0.15vw 0 0.08vw rgba(0, 0, 0, 0.3) inset, 0.1vw 0 0.05vw rgba(255, 255, 255, 0.7) inset, -0.1vw 0 0.05vw rgba(255, 255, 255, 0.7) inset;
          box-shadow: 0 0.1vw 0 0.05vw #0007, 0 -0.15vw 0 0.05vw rgba(0, 0, 0, 0.3), 0 -0.15vw 0 0.08vw rgba(0, 0, 0, 0.3) inset, 0.1vw 0 0.05vw rgba(255, 255, 255, 0.7) inset, -0.1vw 0 0.05vw rgba(255, 255, 255, 0.7) inset;
}

.mouse-style .container .item-list-mouse .slide-dots .dot span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1vw;
  font-weight: 800;
  text-shadow: 0 0 0.2vw #ffff;
}

.mouse-style .container .item-list-mouse .slide-dots .dot.dot-active {
  background: #FDC60A;
}

.mouse-style .container .item-list-mouse .slide-dots .dot:hover {
  -webkit-box-shadow: 0 -0.1vw 0 0.05vw rgba(0, 0, 0, 0.3), 0 -0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.3) inset, 0 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 -0.1vw 0 0.05vw rgba(0, 0, 0, 0.3), 0 -0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.3) inset, 0 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.3) inset;
}

.mouse-style .container .item-list-mouse .slide-dots .dot:hover span {
  font-size: 0.9vw;
}

@-webkit-keyframes slideNum {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes slideNum {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  51% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

/*콘텐츠 - 사이트*/
.site-style {
  margin: 0 0 2vw 0;
}

.site-style .container {
  width: 100%;
  height: 470vw;
  padding: 10vw 0 0 0;
  background: #b8b8b8;
}

.site-style .container .title {
  text-align: center;
  margin: 0 0 5vw 0;
}

.site-style .container .title .title-main {
  font-size: 3vw;
}

.site-style .container .title .title-main strong {
  color: #FDC60A;
}

.site-style .container .title .title-sub {
  font-size: 1vw;
  color: #363636;
}

.site-style .container .item-list-site {
  width: 100%;
  height: 450vw;
  background: #b7ffc1;
}

.site-style .container .item-list-site svg {
  width: 90vw;
  margin: 0 0 0 5vw;
}

.site-style .container .item-list-site svg path {
  stroke-dasharray: 12600;
  stroke-dashoffset: 0;
}

.mobile-style {
  margin: 0 0 2vw 0;
}

.mobile-style .container {
  width: 100%;
  height: 150vw;
  padding: 10vw 0 0 0;
  background: #edffd6;
  overflow: hidden;
}

.mobile-style .container .title .title-main {
  width: 100vw;
  height: 50vw;
  background: #0c1533;
  overflow: hidden;
}

.mobile-style .container .title .title-main svg {
  width: 100%;
  height: 100%;
}

.mobile-style .container .title .title-main svg .clip {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.mobile-style .container .item-list-mobile {
  position: relative;
}

.mobile-style .container .item-list-mobile .slide-wrap {
  width: 50vw;
  height: 45vw;
  margin: 10vw auto;
  background: #f7ffae;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide {
  width: 38%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  background: #8affdc;
  -webkit-transition: -webkit-transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1;
  cursor: pointer;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide .item-thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 43.5vw;
  background: #96deff;
  z-index: -1;
  border-radius: 40px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide .item-thumbnail .thumbnail-mobile {
  width: 100%;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide .smartphone {
  width: 100%;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -5%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  width: 60%;
  height: 4%;
  border-radius: 30%;
  background: #fdc60a;
  -webkit-box-shadow: 0 0 1vw 0.9vw #fdc60a;
          box-shadow: 0 0 1vw 0.9vw #fdc60a;
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide:hover .item-thumbnail {
  -webkit-transform: translateY(-0.95vw);
          transform: translateY(-0.95vw);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide:hover .item-thumbnail .thumbnail-mobile {
  -webkit-animation: thumbnail 4s  linear infinite;
          animation: thumbnail 4s  linear infinite;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide.s2:hover .thumbnail-mobile {
  -webkit-animation: thumbnail 10s  linear infinite;
          animation: thumbnail 10s  linear infinite;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide.s3:hover .thumbnail-mobile {
  -webkit-animation: thumbnail 6s  linear infinite;
          animation: thumbnail 6s  linear infinite;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide:hover .smartphone {
  -webkit-transform: translateY(-1vw);
          transform: translateY(-1vw);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide:hover::before {
  width: 50%;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide.s1 {
  -webkit-transform: translateX(-50%) scale(1) translate3d(0, 0, 0);
          transform: translateX(-50%) scale(1) translate3d(0, 0, 0);
  z-index: 2;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide.s2 {
  -webkit-transform: translateX(-50%) scale(0.7) translate3d(240%, -10%, 0);
          transform: translateX(-50%) scale(0.7) translate3d(240%, -10%, 0);
  z-index: 1;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide.s3 {
  -webkit-transform: translateX(-50%) scale(0.5) translate3d(180%, -31%, 0);
          transform: translateX(-50%) scale(0.5) translate3d(180%, -31%, 0);
  z-index: 0;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide.s4 {
  -webkit-transform: translateX(-50%) scale(0.5) translate3d(-180%, -31%, 0);
          transform: translateX(-50%) scale(0.5) translate3d(-180%, -31%, 0);
  z-index: 0;
}

.mobile-style .container .item-list-mobile .slide-wrap .slide-container .slide.s5 {
  -webkit-transform: translateX(-50%) scale(0.7) translate3d(-240%, -10%, 0);
          transform: translateX(-50%) scale(0.7) translate3d(-240%, -10%, 0);
  z-index: 1;
}

.mobile-style .container .item-list-mobile .btn-prev {
  width: 10vw;
  height: 8vw;
  position: absolute;
  left: 1%;
  top: 40%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 3;
}

.mobile-style .container .item-list-mobile .btn-prev .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

.mobile-style .container .item-list-mobile .btn-prev .arrow path {
  stroke: #000;
}

.mobile-style .container .item-list-mobile .btn-prev .arrow .fixed-arrow-tail path {
  stroke: #fdc60a;
}

.mobile-style .container .item-list-mobile .btn-prev .arrow .fixed-arrow-tail rect {
  stroke: #fdc60a;
}

.mobile-style .container .item-list-mobile .btn-prev:hover .arrow path {
  stroke: #fdc60a;
}

.mobile-style .container .item-list-mobile .btn-prev:hover .arrow .fixed-arrow {
  -webkit-animation: fixed-arrow 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
          animation: fixed-arrow 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

.mobile-style .container .item-list-mobile .btn-prev:hover .arrow .active-arrow {
  -webkit-animation: active-arrow 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
          animation: active-arrow 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

.mobile-style .container .item-list-mobile .btn-next {
  width: 10vw;
  height: 8vw;
  position: absolute;
  right: 1%;
  top: 40%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 3;
}

.mobile-style .container .item-list-mobile .btn-next .arrow {
  -webkit-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

.mobile-style .container .item-list-mobile .btn-next .arrow path {
  stroke: #000;
}

.mobile-style .container .item-list-mobile .btn-next .arrow .fixed-arrow-tail path {
  stroke: #fdc60a;
}

.mobile-style .container .item-list-mobile .btn-next .arrow .fixed-arrow-tail rect {
  stroke: #fdc60a;
}

.mobile-style .container .item-list-mobile .btn-next:hover .arrow path {
  stroke: #fdc60a;
}

.mobile-style .container .item-list-mobile .btn-next:hover .arrow .fixed-arrow {
  -webkit-animation: fixed-arrow 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
          animation: fixed-arrow 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

.mobile-style .container .item-list-mobile .btn-next:hover .arrow .active-arrow {
  -webkit-animation: active-arrow 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
          animation: active-arrow 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

.mobile-style .container .item-list-mobile .slide-dots {
  width: 20vw;
  height: 2vw;
  background: #abd2ff;
  position: absolute;
  right: 5%;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-style .container .item-list-mobile .slide-dots .dot {
  width: 2vw;
  height: 2vw;
  border-radius: 30%;
  background: #000;
  border: 0.2vw solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.mobile-style .container .item-list-mobile .slide-dots .dot span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1vw;
  font-weight: 800;
  text-shadow: 0 0 0.2vw  #ffff;
  color: #fff;
}

.mobile-style .container .item-list-mobile .slide-dots .dot:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#fff0), color-stop(50%, #ffff), color-stop(55%, #fff4), to(#fff0));
  background: linear-gradient(to right, #fff0 0%, #ffff 50%, #fff4 55%, #fff0 100%);
  -webkit-filter: blur(0.1vw);
          filter: blur(0.1vw);
  -webkit-transform: translateX(-100%) skew(30deg, 0);
          transform: translateX(-100%) skew(30deg, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.mobile-style .container .item-list-mobile .slide-dots .dot.dot-active {
  background: #FDC60A;
}

.mobile-style .container .item-list-mobile .slide-dots .dot:hover {
  -webkit-box-shadow: 0.2vw 0.2vw 0.2vw 0 rgba(255, 255, 255, 0.3), -0.2vw -0.2vw 0.2vw 0 rgba(122, 122, 122, 0.2) inset, 0.2vw 0.2vw 0.2vw 0 rgba(255, 255, 255, 0.2) inset;
          box-shadow: 0.2vw 0.2vw 0.2vw 0 rgba(255, 255, 255, 0.3), -0.2vw -0.2vw 0.2vw 0 rgba(122, 122, 122, 0.2) inset, 0.2vw 0.2vw 0.2vw 0 rgba(255, 255, 255, 0.2) inset;
}

.mobile-style .container .item-list-mobile .slide-dots .dot:hover:before {
  -webkit-transform: translateX(100%) skew(30deg, 0);
          transform: translateX(100%) skew(30deg, 0);
}

.mobile-style .container .item-list-mobile .slide-dots .dot:hover.dot-active {
  -webkit-box-shadow: 0.2vw 0.2vw 0.2vw 0 rgba(255, 255, 255, 0.3), -0.2vw -0.2vw 0.2vw 0 rgba(255, 255, 255, 0.2) inset, 0.2vw 0.2vw 0.2vw 0 rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0.2vw 0.2vw 0.2vw 0 rgba(255, 255, 255, 0.3), -0.2vw -0.2vw 0.2vw 0 rgba(255, 255, 255, 0.2) inset, 0.2vw 0.2vw 0.2vw 0 rgba(0, 0, 0, 0.2) inset;
}

@-webkit-keyframes clipWave {
  from {
    /* transform: translateY(-100%); */
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    /* transform: translateY(20%); */
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
  to {
    /* transform: translateY(-100%); */
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes clipWave {
  from {
    /* transform: translateY(-100%); */
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    /* transform: translateY(20%); */
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
  }
  to {
    /* transform: translateY(-100%); */
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@-webkit-keyframes fixed-arrow {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fixed-arrow {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes active-arrow {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5% {
    -webkit-transform: translateX(-0.5vw);
            transform: translateX(-0.5vw);
  }
  100% {
    -webkit-transform: translateX(3vw);
            transform: translateX(3vw);
    opacity: 0;
  }
}

@keyframes active-arrow {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5% {
    -webkit-transform: translateX(-0.5vw);
            transform: translateX(-0.5vw);
  }
  100% {
    -webkit-transform: translateX(3vw);
            transform: translateX(3vw);
    opacity: 0;
  }
}

@-webkit-keyframes thumbnail {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes thumbnail {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
/*# sourceMappingURL=style.css.map */