@font-face {
  font-family: 'ghanachoco';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooc-Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooc-Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooc-Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooc-ExtraBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  position: fixed;
  width: 100%;
  height: 4.55vw;
  border-radius: 0 0 20px 20px;
  border-bottom: 1px solid #222;
}

.header .header-container {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .header-container h1 {
  -ms-flex-preferred-size: 17.5%;
      flex-basis: 17.5%;
  margin: 0.45vw 0 0 0;
}

.header .header-container h1 a {
  font-family: 'ghanachoco';
  font-size: 2.85vw;
  color: #FDC60A;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(http://1.bp.blogspot.com/-s3Q_6B5LFNw/UsmEm-9GY-I/AAAAAAAAToY/eV7y7D3tvZ4/s1600/goldglitter.gif) repeat;
  background: linear-gradient(transparent, transparent), url(http://1.bp.blogspot.com/-s3Q_6B5LFNw/UsmEm-9GY-I/AAAAAAAAToY/eV7y7D3tvZ4/s1600/goldglitter.gif) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
}

.header .header-container h1 a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url(https://data.whicdn.com/images/275602967/original.gif);
  background: linear-gradient(transparent, transparent), url(https://data.whicdn.com/images/275602967/original.gif);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
}

.header .header-container .header-center-nav {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-container .header-center-nav ul li {
  float: left;
}

.header .header-container .header-center-nav ul li a {
  font-size: 1.17vw;
  color: #FDC60A;
}

.header .header-container .header-center-nav ul li a span {
  position: relative;
  display: block;
  padding: 0 20px;
  overflow: hidden;
}

.header .header-container .header-center-nav ul li a span:before {
  content: '';
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(https://data.whicdn.com/images/267317953/original.gif);
  background-size: cover;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  transition: -webkit-transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  transition: transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
  transition: transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s, -webkit-transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
}

.header .header-container .header-center-nav ul li a:hover span:before {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.header .header-container .header-right-nav {
  -ms-flex-preferred-size: 17.5%;
      flex-basis: 17.5%;
  text-align: right;
  margin: 0.2vw 0 0 0;
}

.header .header-container .header-right-nav .fa-github {
  font-size: 2vw;
  color: #FDC60A;
}

.main {
  background: url(https://codepen.io/ahjee12/full/rNxEKeq);
  padding: 2vw 0 0 0;
}

.main .main-container {
  width: 100%;
}

.main .main-container .land {
  width: 1487px;
  height: 1843px;
  background: #ccc;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.main .main-container .land .home {
  position: absolute;
  left: 62.35%;
  top: -100%;
}

.main .main-container .land .table {
  position: absolute;
  left: 64.75%;
  top: -100%;
}

.main .main-container .land .hut {
  position: absolute;
  left: 42.18%;
  top: -100%;
}

.main .main-container .land .road {
  position: absolute;
  left: 53.732%;
  top: -100%;
}

.main .main-container .land .greenhouse {
  position: absolute;
  left: 19.12%;
  top: -100%;
}

.main .main-container .land .nature {
  position: absolute;
  left: 18.7%;
  top: 10.2%;
}
/*# sourceMappingURL=style.css.map */