//가나글꼴
@font-face { font-family: 'ghanachoco'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff'); font-weight: normal; font-style: normal; }

//페이북글꼴
@font-face { font-family: 'paybooc-Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'paybooc-Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'paybooc-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'paybooc-ExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }

#header{
    // position: fixed;
}
.header{
    position: fixed;
    width: 100%;
    height: 4.55vw;
    border-radius: 0 0 20px 20px;
    border-bottom: 1px solid #222;
    .header-container{
        padding: 0 20px; 
        // background: #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        h1{
            flex-basis: 17.5%;
            margin: 0.45vw 0 0 0;
            // position: absolute; left: 20px; top: 0.45vw; 
            a{
                
                font-family: 'ghanachoco';
                font-size: 2.85vw;
                color: #FDC60A;
               
                background: linear-gradient(transparent, transparent), url(http://1.bp.blogspot.com/-s3Q_6B5LFNw/UsmEm-9GY-I/AAAAAAAAToY/eV7y7D3tvZ4/s1600/goldglitter.gif) repeat;
                -webkit-background-clip: text;
                 -webkit-text-fill-color: transparent;
                 -moz-background-clip: text;
                 -moz-text-fill-color: transparent;
                 -ms-background-clip: text;
                 -ms-text-fill-color: transparent;
                 background-clip: text;
                //  text-fill-color: transparent;
                &:hover{
                    background: linear-gradient(transparent, transparent), url(https://data.whicdn.com/images/275602967/original.gif);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;
                    -ms-background-clip: text;
                    -ms-text-fill-color: transparent;
                    background-clip: text;
                    //  text-fill-color: transparent;
                }
            }
        }

        .header-center-nav{
            flex-basis: 65%;
            display: flex;
            justify-content: center;
            ul{
                li{
                    float: left;
                    // background: #FDC60A;
                    a{ 
                        font-size: 1.17vw;
                        
                        color: #FDC60A;
                        // font-family: 'paybooc-Medium';
                        
                        span{
                            position: relative;
                            display: block;
                            padding: 0 20px;
                            overflow: hidden;
                            // transition: transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
                            &:before{
                                content: '';
                                position: absolute; left: -100%; top: 0; width: 100%; height: 100%; 
                                // background: url(https://data.whicdn.com/images/307105405/original.gif);
                                // background: url(https://media1.tenor.com/images/866f30792413dcb70ce06c91c1ad3f4e/tenor.gif?itemid=8692040);
                                // background: url(https://i.pinimg.com/originals/94/ba/53/94ba53dc8a376c9727742a4fd56cf509.gif);
                                // background: url(https://i.pinimg.com/originals/f4/52/a2/f452a2f4b634b3011e065da8eaf0a5c3.gif);
                                // background: url(https://i.pinimg.com/originals/07/f7/27/07f72772fee4f51adcf8f9aa9fa1a8e0.gif);
                                background: url(https://data.whicdn.com/images/267317953/original.gif);
                                // background: #000;
                                background-size: cover;
                                z-index: -1;
                                transition: transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
                            }
                        }
                        &:hover span:before{
                            transform: translate(100%,0);
                        }
                
                    }//a
                }//li
            }//ul
        }
        .header-right-nav{
            flex-basis: 17.5%;
            text-align: right;
            margin: 0.2vw 0 0 0;
            .fa-github{
                // position: absolute; right: 20px; top: 19px;
                font-size: 2vw;
                color: #FDC60A;
            }
        }
        
    }
}

#main{

}

.main{
    background: url(https://codepen.io/ahjee12/full/rNxEKeq);
    padding: 2vw 0 0 0;
    .main-container{
        width: 100%;
        // text-align: center;
        // margin: 0 auto;
        .uiux-land{ 
            width: 1487px; height: 1843px;
            background: #ccc;
            margin: 0 auto;
            position: relative;
            z-index: -1;
            .land{
                transform: scale(0) ; transform-origin: 50% 0%; opacity: 0;
            }
            //건물
            .structure{
                // position: absolute; left: 19.1%; top: 8.75%; 
            }
            .home{
                // position: absolute; left: 62.35%; top: -100%;
                position: absolute; left: 62.35%; top: 8.65%; 
                transform: translate(0, -200%) scale(1,2); opacity: 0;
            }
            .table{
                // position: absolute; left: 64.75%; top: -100%;
                position: absolute; left: 64.75%; top: 13.25%;
                transform: translate(0, -200%) scale(1,2); opacity: 0;
            }
            .hut{
                // position: absolute; left: 42.18%; top: -100%;
                position: absolute; left: 42.18%; top: 20.15%;
                transform: translate(0, -200%) scale(1,2); opacity: 0;
            }
            .road{
                // position: absolute; left: 53.732%; top: -100%;
                position: absolute; left: 53.732%; top: 23.2%;
                transform: translate(0, -200%) scale(1,2); opacity: 0;
            }
            .greenhouse{
                // position: absolute; left: 19.12%; top:-100%;
                position: absolute; left: 19.12%; top: 36.855%;
                transform: translate(0, -200%) scale(1,2); opacity: 0;
            }
            //자연
            .nature{
                position: absolute; left: 18.55%; top: 10.1%;
            }
            .field{
                position: absolute; left: 40.45%; top: 10.1%;
                transform: scale(0.8, 0); opacity: 0;  transform-origin: 50% 90%;
                animation: sway1 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .jujubeTomato{
                position: absolute; left: 40.05%; top: 15.4%;
                transform: scale(0.8, 0);  opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .watermelon{
                position: absolute; left: 27.85%; top: 13.55%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway2 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .sharon{
                position: absolute; left: 60.35%; top: 18%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .appletree{
                position: absolute; left: 18.55%; top: 13.22%;
                transform: scale(0.8, 0); opacity: 0;  transform-origin: 50% 80%;
                animation: sway1 1.5s 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .rice{
                position: absolute; left: 76.1%; top: 19.65%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .lavender{
                position: absolute; left: 25.97%; top: 24.63%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .cosmos{
                position: absolute; left: 53.08%; top: 36.09%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .chrysanthemum{
                position: absolute; left: 64.28%; top: 36.25%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .sunflower{
                position: absolute; left: 51.07%; top: 37.7%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .rosemose{
                position: absolute; left: 66.4%; top: 37.95%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }

        }//uiux-land      
    }//main-container
}//main

@keyframes sway1 {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0) scale(1, 1);
    //   -webkit-transform-origin: bottom;
    //   transform-origin: bottom;
    }
    100% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px) scale(1, 0.96);
    //   -webkit-transform-origin: bottom;
    //   transform-origin: bottom;
    }
  }

  @keyframes sway2 {
    0% {
      -webkit-transform: rotateZ(0) translateX(0px) scale(1);
      transform: rotateZ(0) translateX(0px) scale(1);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
    }
    100% {
      -webkit-transform: rotateZ(3deg) translateX(3px) scale(0.96,0.96);
      transform: rotateZ(3deg) translateX(3px) scale(0.96,0.96);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
    }
  }


