//Dw글꼴
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

//가나글꼴
@font-face { font-family: 'ghanachoco'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff'); font-weight: normal; font-style: normal; }

// 페이북글꼴
@font-face { font-family: 'paybooc-Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'paybooc-Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'paybooc-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'paybooc-ExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }

html::-webkit-scrollbar{
    width: 20px; 
    height: 30px;
}
html::-webkit-scrollbar-thumb{
    // background: linear-gradient(180deg, rgba(253,198,10,1),#009fd8);
    // background-color:  rgba(253,198,10,1);
    background: url('../images/glitter/glitter_scrollbar.gif');
    // background-image: url('../images/glitter/glitter13.gif');
    background-position: 10% 10%;
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
    // background: url('https://i.pinimg.com/originals/18/a9/ed/18a9ed1d385ae001a07f0384d58c1b44.gif');
    // background-size: cover;
}
#header{
    // position: fixed;
}
.header{
    position: fixed; 
    left: 0; top: 0;
    width: 100%;
    height: 4.55vw;
    border-radius: 0 0 20px 20px;
    border-bottom: 1px solid #222;
    z-index: 100;
    .header-container{
        padding: 0 20px; 
        // background: #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        h1{
            flex-basis: 17.5%;
            margin: 0.45vw 0 0 0;
            // position: absolute; left: 20px; top: 0.45vw; 
            a{
                
                font-family: 'ghanachoco';
                font-size: 2.85vw;
                color: #FDC60A;
               
                background: linear-gradient(transparent, transparent), url(http://1.bp.blogspot.com/-s3Q_6B5LFNw/UsmEm-9GY-I/AAAAAAAAToY/eV7y7D3tvZ4/s1600/goldglitter.gif) repeat;
                -webkit-background-clip: text;
                 -webkit-text-fill-color: transparent;
                 -moz-background-clip: text;
                 -moz-text-fill-color: transparent;
                 -ms-background-clip: text;
                 -ms-text-fill-color: transparent;
                 background-clip: text;
                //  text-fill-color: transparent;
                &:hover{
                    background: linear-gradient(transparent, transparent), url(https://data.whicdn.com/images/275602967/original.gif);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;
                    -ms-background-clip: text;
                    -ms-text-fill-color: transparent;
                    background-clip: text;
                    //  text-fill-color: transparent;
                }
            }
        }

        .header-center-nav{
            flex-basis: 65%;
            display: flex;
            justify-content: center;
            ul{
                li{
                    float: left;
                    // background: #FDC60A;
                    a{ 
                        font-size: 1.18vw;   
                        color: #FDC60A;
                        // font-family: 'paybooc-Medium';
                        span{
                            position: relative;
                            display: block;
                            padding: 0 20px;
                            overflow: hidden;
                            // transition: transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
                            &:before{
                                content: '';
                                position: absolute; left: -100%; top: 0; width: 100%; height: 100%; 
                                // background: url(https://data.whicdn.com/images/307105405/original.gif);
                                // background: url(https://media1.tenor.com/images/866f30792413dcb70ce06c91c1ad3f4e/tenor.gif?itemid=8692040);
                                // background: url(https://i.pinimg.com/originals/94/ba/53/94ba53dc8a376c9727742a4fd56cf509.gif);
                                // background: url(https://i.pinimg.com/originals/f4/52/a2/f452a2f4b634b3011e065da8eaf0a5c3.gif);
                                // background: url(https://i.pinimg.com/originals/07/f7/27/07f72772fee4f51adcf8f9aa9fa1a8e0.gif);
                                background: url(https://data.whicdn.com/images/267317953/original.gif);
                                // background: #000;
                                background-size: cover;
                                z-index: -1;
                                transition: transform 0.4s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
                            }
                        }
                        &:hover span:before{
                            transform: translate(100%,0);
                        }
                
                    }//a
                }//li
            }//ul
        }
        .header-right-nav{
            flex-basis: 17.5%;
            text-align: right;
            margin: 0.2vw 0 0 0;
            .fa-github{
                // position: absolute; right: 20px; top: 19px;
                font-size: 2vw;
                color: #FDC60A;
            }
        }
        
    }
}
.info {
    position: fixed; 
    top: 5.5vw;
    background: rgba(255, 255, 255, 1);
    color: #000;
    padding: 1vw;
    font-size: 1vw;
    z-index: 100;
}
/*메인*/
#main{}
.main{
    // position: relative;
    // position: fixed;
    left: 0; top: 0;
    width: 100%; 
    z-index: -1;
    .container{
        // width: 100%;
        // text-align: center;
        // margin: 0 auto;
        padding: 4vw 0 2vw 0;
        .uiux-land{ 
            // width: 1487px; height: 1843px;
            width: 75vw;
            // background: #ccc;
            margin: 0 auto;
            position: relative;
            z-index: -1;
            .land{
                transform: scale(0.3) ; 
                transform-origin: 50% 50%; 
                opacity: 0;
            }
            //건물
            .home{
                // position: absolute; left: 62.35%; top: 8.65%; 
                position: absolute; left: 61.5%; top: 9%; 
                transform: translate(0, -200%) scale(1,2); opacity: 0;
            }
            .table{
                // position: absolute; left: 64.75%; top: 13.25%;
                position: absolute; left: 65.5%; top: 13.5%;
                transform: translate(0, -200%) scale(1,2); opacity: 0;
            }
            .hut{
                // position: absolute; left: 42.18%; top: -100%;
                position: absolute; left: 42.18%; top: 21%;
                transform: translate(0, -200%) scale(1,2); opacity: 0;
            }
            .road{
                // position: absolute; left: 53.732%; top: 23.2%;
                position: absolute; left: 53.7%; top: 23.5%;
                transform: translate(0, -200%) scale(1,2); opacity: 0;
            }
            .greenhouse{
                // position: absolute; left: 19.12%; top:-100%;
                position: absolute; left: 19.12%; top: 36.855%;
                transform: translate(0, -200%) scale(1,2); opacity: 0;
            }
            //자연
            .field{
                position: absolute; left: 40.3%; top: 10%;
                transform: scale(0.8, 0); opacity: 0;  transform-origin: 50% 90%;
                animation: sway1 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .jujubeTomato{
                position: absolute; left: 40.05%; top: 15.4%;
                transform: scale(0.8, 0);  opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .watermelon{
                position: absolute; left: 28%; top: 14%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway2 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .sharon{
                // position: absolute; left: 60.35%; top: 18%;
                position: absolute; left: 60.39%; top: 18.2%;
                transform: scale(0.8, 0); opacity: 0; transform-origin: 50% 80%;
                animation: sway1 1.5s 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .appletree{
                position: absolute; left: 18.55%; top: 14%;
                transform: scale(0.8, 0); opacity: 0;  transform-origin: 50% 80%;
                animation: sway1 1.5s 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .rice{
                position: absolute; left: 76.1%; top: 20.5%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .lavender{
                position: absolute; left: 26.5%; top: 25.5%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .cosmos{
                position: absolute; left: 53%; top: 36.1%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .chrysanthemum{
                position: absolute; left: 64%; top: 36.25%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .sunflower{
                position: absolute; left: 51.3%; top: 38.2%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }
            .rosemose{
                position: absolute; left: 66.4%; top: 37.95%;
                transform: scale(0.8, 0); opacity: 0;   transform-origin: 50% 80%;
                animation: sway1 1.5s 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
            }

        }//uiux-land      
    }//main-container
    .container-cloud-back{
        position: absolute; left: 0; top: 0;
        width: 100%; height: 100%; 
        // background: #afafaf;
        z-index: -2;
    }
    .container-cloud-front{
        position: absolute; left: 0; top: 0;
        width: 100%; height: 100%; 
        // background: #c0c5d6;
    }
}//main

@keyframes sway1 {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0) scale(1, 1);
    //   -webkit-transform-origin: bottom;
    //   transform-origin: bottom;
    }
    100% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px) scale(1, 0.96);
    //   -webkit-transform-origin: bottom;
    //   transform-origin: bottom;
    }
  }

  @keyframes sway2 {
    0% {
      -webkit-transform: rotateZ(0) translateX(0px) scale(1);
      transform: rotateZ(0) translateX(0px) scale(1);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
    }
    100% {
      -webkit-transform: rotateZ(3deg) translateX(3px) scale(0.96,0.96);
      transform: rotateZ(3deg) translateX(3px) scale(0.96,0.96);
      -webkit-transform-origin: bottom;
      transform-origin: bottom;
    }
  }

#contents{position: relative; margin: 100vh 0 0 0;}

/*콘텐츠 - 메뉴*/
#page-group.menu{}
.menu-style{
    margin: 0 0 2vw 0;
    .container{
        // width: 1700px; 
        width: 90vw;
        height: 80vw; 
        margin: 0 auto;
        padding: 10vw 0 0 0;
        background: rgb(255, 163, 163);
        border-top-left-radius: 15%;
        border-top-right-radius: 15%;
        .title{
            margin: 0 10% 5% 10%; 

            .title-main{ 
                font-size: 3vw;
                strong{ color: #FDC60A;}
            }
            .title-sub{
                font-size: 1vw;
            }
        }
        .item-list1{
            margin: 0 10%; 
            // height: 350px;
            height: 18vw;
            background: rgb(255, 253, 131);
            .item-col{
                float: left;
                width: 25%; height: 100%;
                background: rgb(155, 155, 155);
                border-left: 1px solid #000;
                box-sizing: border-box;
                // padding: 2.5vw;
                .item-thumbnail{
                    display: block;
                    width: 75%; height: 75%;
                    border-radius: 50%;
                    background: #FDC60A;
                    overflow: hidden;
                    position: relative; left: 50%; top: 50%; transform: translate(-50%,-50%);
                    .item{
                        width: 70%; height: 40%; 
                        // background: rgb(231, 35, 35);
                        // background: url(assets/images/section1/tab1.png) cover;
                        position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
                        transition: all 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                        img{
                            width: 100%;
                        }
                    }
                    .item-name{
                        display: block;
                        position: absolute; left: 0; top: 100%;
                        width: 100%; height: 2vw;
                        font-size: 2vw; font-weight: 700;
                        // line-height: 2vw;
                        text-align: center;
                        transition: top 0.35s 0s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                    }
                    .item-name.name2{
                        line-height: 2vw;
                    }
                }
                .item-thumbnail:hover{
                    background: rgb(255, 255, 255);
                    box-shadow: 0px 20px 30px 2px rgba(22, 95, 190, 0.15);
                    // width: 110%; height: 110%;
                }
                .item-thumbnail:hover .item{
                    top: 42%;
                }
                .item-thumbnail:hover .item-name{
                    top: 63%; 
                    transition-delay: 0.15s;
                } 
            }
        }
        .item-list2{
            // height: 350px;
            height: 18vw;
            background: rgb(163, 255, 232);
            margin: 2vw 0 0 0;
            .item-col{
                float: left;
                width: 20%; height: 100%;
                background: rgb(114, 114, 114);
                border-left: 1px solid #000;
                box-sizing: border-box;
                // padding: 2.5vw; 
                .item-thumbnail{
                    display: block;
                    width: 75%; height: 75%;
                    border-radius: 50%;
                    background: #FDC60A;
                    overflow: hidden;
                    position: relative; left: 50%; top: 50%; transform: translate(-50%,-50%);
                    .item{
                        width: 70%; height: 40%; 
                        // background: rgb(231, 35, 35);
                        // background: url(assets/images/section1/tab1.png) cover;
                        position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
                        transition: all 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                        img{
                            width: 100%;
                        }
                    }
                    .item-name{
                        display: block;
                        position: absolute; left: 0; top: 100%;
                        width: 100%; height: 2vw;
                        font-size: 2vw; font-weight: 700;
                        // line-height: 2vw;
                        text-align: center;
                        transition: top 0.35s 0s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                    }
                    .item-name.name2{
                        line-height: 2vw;
                    }
                }
                .item-thumbnail:hover{
                    background: rgb(255, 255, 255);
                    box-shadow: 0px 20px 30px 2px rgba(22, 95, 190, 0.15);
                    // width: 110%; height: 110%;
                }
                .item-thumbnail:hover .item{
                    top: 42%;
                }
                .item-thumbnail:hover .item-name{
                    top: 63%; 
                    transition-delay: 0.15s;
                }
            }
        }
    }
}

/*콘텐츠 - 애니메이션*/
#page-group.animation{}
.animation-style{
    margin: 0 0 2vw 0;
    .container{
        width: 90vw;
        height: 130vw; 
        margin: 0 auto;
        padding: 10vw 0 0 0;
        background: rgb(220, 255, 163);
        .title{
            margin: 0 10% 5% 10%; 
            .title-main{ 
                font-size: 3vw;
                strong{ color: #FDC60A;}
            }
            .title-sub{
                font-size: 1vw;
            }
            h4{font-size: 1.5vw; font-weight: 700; line-height: 3vw;}
        }
        .controls{
            background: #cac2a9; 
            width: 8.5vw;
            // padding: 0.5vw;
            position: fixed; right: 0; top: 50%; 
            transform: translate(100%,-50%);
            z-index: 1;
            fieldset{
                width: 6.2vw;
                background: #FDC60A;
                border-radius: 13%;
                padding: 1vw;
                .checkbox{
                    margin: 0 auto 0.5vw auto;
                    position: relative;
                    overflow: hidden;
                    // cursor: pointer;
                    input[type="checkbox"]{
                        cursor: pointer;
                        float: left;
                        width: 1.5vw; height: 1.5vw;
                        //2. input의 width값과 height값을 checkbox크기로 100%늘림. 그 면적 어디든 클릭하면 input작동하도록 해주는 것임!
                        position: absolute; width: 100%; height: 100%;
                        opacity: 0;
                        // z-index: 2;
                    }
                    label{
                        cursor: pointer; 
                        float: left;
                        font-size: 1vw;
                        padding: 0 0.7vw 0 2vw;
                        vertical-align: top;
                        //1. label에 가상요소 준 이유: input을 opacity 0으로 하면 input의 가상요소도 opacity 0으로 돼서 사라져 버림!   
                         &:before{content: ''; display: block; position: absolute; left: 0; top: 0; width: 1.5vw; height: 1.5vw; background: #fff; border-radius: 15%; pointer-events: none;}
                         &:after{content: ''; display: block; position: absolute; left: 0.25vw; top: 0.25vw; width: 1vw; height: 1vw; background: rgba(0,0,0,1); border-radius: 20%; display: none; pointer-events: none;}
                    }
                    input:checked ~ label:after{
                        display: block;
                    }
                    }//.checkbox
                button{
                    cursor: pointer;
                    padding: 0.5vw;
                    border-radius: 15%;
                    font-size: 1vw;
                    font-weight: 500;
                    box-shadow: 0 0.3vw 0.3vw 0.1vw rgba(0,153,222,1);
                    outline: none;
                    border-color: rgba(0,153,222,1);
                    background: #fff;
                    // border-color: -internal-light-dark(rgba(22, 95, 190, 0.5), rgb(195, 195, 195));
                }//button
            }
        }
        .filter-container{
            margin: 0 5%;
            // height: 10vw;
            background: rgb(144, 36, 177); 
            overflow: hidden;
            // height: 82vw;
            // position: relative;
            .box{
                float: left;
                width: 23.5%; margin: 0 2% 2% 0;
                // height: 15.552vw;
                height: 19.035vw;
                // height: 8.748vw;
                background: rgb(255, 131, 214);
                border-radius: 15%;
                border: 0.3vw solid #FDC60A;
                box-sizing: border-box;
                position: relative;
                // .mix{
                    
                    iframe{
                        position: absolute; left: 0; top: 0;
                        width: 200%; height: 200%;
                        // width: calc(200% + 5px);
                        // height: calc(200% + 5px);
                        transform: scale(0.5); transform-origin: top left;
                        border-radius: 13.5%; 
                        border: 0;
                        box-sizing: border-box;
                        // border: 5px solid #FDC60A;
                        
                    }
                // }

            }
            .box:nth-child(4n){
                margin: 0 0 2% 0;
            }
            .box.hide{
                display: none;
                // opacity: 0;
            }
            .box.pick{
                display: block;
                // opacity: 1;
            }
        }
    }
}

/*콘텐츠 - 오버효과*/
#page-group.hover{}
.hover-style{
    margin: 0 0 2vw 0;
    .container{
        width: 90vw;
        // height: 100vh;
        height: 70vw; 
        margin: 0 auto;
        padding: 10vw 0 0 0;
        background: rgb(77, 241, 151);
        .title{
            margin: 0 10% 5% 10%; 
            // padding: 0 10% 5% 10%; 
            // box-sizing: border-box;
            .title-main{ 
                font-size: 3vw;
                strong{color: #FDC60A;}
            }
            .title-sub{
                font-size: 1vw;
            }
        }
        .item-list{
            height: 30vw;
            background: rgb(164, 203, 255);
            position: relative;
            .item-left{
                position: absolute; left: 0; top: 0;
                width: 50%; height: 100%;
                background: rgb(255, 211, 114);
                overflow: hidden;
                .item-container{
                    position: absolute; 
                    left: 0; top: 0;
                    // left: 50%; top: 50%;
                    // transform: translate(-50%,-50%);
                    width: 100%; height: 100%;
                    background: #000;
                    iframe{
                        position: absolute; left: 0; top: 0;
                        width: 200%; height: 200%;
                        transform: scale(0.5); transform-origin: top left;
                        border: 0;
                        box-sizing: border-box;
                    } 
                }
            }
            .item-right{
                position: absolute; 
                right:0; top: 0;
                width: 50%; height: 100%;
                background: rgb(255, 177, 88);
                overflow: hidden;
                .item-container{
                    position: absolute; 
                    right: 0; top: 0;
                    // left: 50%; top: 50%;
                    // transform: translate(-50%,-50%);
                    width: 100%; height: 100%;
                    background: #000;
                    iframe{
                        position: absolute; left: 0; top: 0;
                        width: 200%; height: 200%;
                        transform: scale(0.5); transform-origin: top left;
                        border: 0;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
    
}
/*콘텐츠 - 패럴럭스*/
#page-group.parallax{}
.parallax-style{
    margin: 0 0 2vw 0;
    .container{
        width: 100%;
        height: 80vw;
        padding: 10vw 0 0 0;
        background: rgb(255, 186, 220);
        .title{
            text-align: center;
            margin: 0 0 5vw 0;
            .title-main{
                font-size: 3vw;
                strong{color: #FDC60A;}
            }
            .title-sub{
                font-size: 1vw;
            }
        }
        .item-list-parallax{
            .swiper-container{
            .swiper-wrapper{
                .swiper-slide{
                    // width: 31vw; 
                    height: 38vw;
                    background: #FDC60A;
                    // margin: 0 1vw;
                    // padding: 0 1vw;
                    // margin: 0 1vw 0 0;
                    border-radius: 13.5%; 
                    .item-thumbnail{
                        display: block;
                        width: 100%; height: 100%; 
                        background: rgb(183, 255, 168);
                        position: relative;
                        overflow: hidden;
                        border-radius: 13.5%; 
                        .item-hover{
                            width: 100%; height: 100%;
                            background: rgb(230, 204, 255);
                            position: absolute; left: 0; top: 0;
                            border-radius: 13.5%; 
                            transform: translateX(100%);
                            //아이템 오버에서 overflow hidden해줘야 title움직이는 거 안 보임!!
                            overflow: hidden;
                            transition: transform 0.65s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
                            iframe{
                                position: absolute; left: 0; top: 0;
                                width: 250%; height: 250%;
                                transform: scale(0.4); transform-origin: top left;
                                border-radius: 13.5%; 
                                border: 0;
                                box-sizing: border-box;
                            }
                            .item-hover-title{
                                position: absolute; left: 0; top: 30%;
                                display: flex;  
                                justify-content: flex-end;
                                animation: 4s  item-hover-title linear infinite;
                                overflow: hidden;
                                h3{
                                    //float: left;
                                    width: 85vw;
                                    font-size: 13vw; color: #FDC60A;
                                    font-family: 'ghanachoco';
                                    font-style: italic;
                                    text-transform: uppercase;
                                    span{ 
                                        color: rgba(0, 159, 216, 1); 
                                        padding:0 1.5vw 0 0;  
                                        font-style: italic;
                                        font-weight: bold;
                                    }
                                }   
                            }
                        }//item-hover
                       
                        .item{
                            width: 100%; height: 100%; left: 0; top: 0;
                            position: absolute;
                            border-radius: 13.5%; 
                            .circle{
                                position: absolute; left: 50%; top: 30%;
                                transform: translate(-50%,0);
                                width: 6vw; height: 6vw; 
                                border-radius: 50%; 
                                background: url("../images/parallax/space1.jpg");
                                transform-origin: 50% 100%;
                                // transition: transform 1s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
                                // transition: transform 0.6s cubic-bezier(0.07, 1.15, 1, 1) 0s;
                                transition: transform 0.6s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
                            }
                            h3{
                                font-size: 20vw; color: #fff;
                                position: absolute; left: 50%; top: 50%; 
                                transform: translate(-53%,-55%);
                                transform-origin: 50% 100%;
                                transition: transform 0.6s cubic-bezier(0.76, 0.11, 0.24, 0.96) 0.1s;
                            }
                            
                        }//item
                        .item:hover .circle{
                            transform: translate(-60%,-55%) rotate(-10deg) scale(1.2);
                            transition: transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
                        }
                        .item:hover h3{
                            transform: translate(-53%,-55%) rotate(5deg);
                            transition: transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0.05s;
                        }
                        
                    }//item-thumnail
                    .item-thumbnail:hover .item-hover{
                        transform: translateX(0);
                        transition: transform 0.7s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s;
 
                    }
                }
            }//.swiper-wrapper
            .swiper-button-prev{
                width: 10vw; height: 10vw;
                transform: translateY(-50%);
                .arrow{
                    transform: rotate(180deg);
                    path{stroke: #000;}
                }
                // .arrow:hover path{stroke: #fff;}
            }
            .swiper-button-prev:hover .arrow path{stroke: #fff;}
            .swiper-button-next{
                width: 10vw; height: 10vw; 
                transform: translateY(-50%);
                // background: url(../images/parallax/arrow.svg) no-repeat;
                // background-size: contain;
                .arrow{
                    path{stroke: #000;}
                }
                // .arrow:hover path{stroke: #fff;}
            }
            .swiper-button-next:hover .arrow path{stroke: #fff;}
          }//.swiper-container
        }
    }
}

@keyframes item-hover-title {
    0%{transform: translate(0, 0);}
    100%{transform: translate(-50%,0);}
}

/*콘텐츠 - 마우스*/
#page-group.mouse{}
.mouse-style{
    margin: 0 0 2vw 0;
    .container{
        width: 100%;
        height: 90vw;
        padding: 10vw 0 0 0;
        background: rgb(186, 250, 255);
        .title{
            text-align: center;
            margin: 0 0 5vw 0;
            .title-main{
                font-size: 3vw;
                strong{color: #FDC60A;}
            }
            .title-sub{
                font-size: 1vw;
                color: rgb(54, 54, 54);
            }
        }
        .item-list-mouse{
            //화살표 위치
            position: relative;
            .slide-wrap{
                width: 80vw;
                height: 45vw; 
                margin: 0 auto;
                background: #FDC60A;
                border-radius: 30px; 
                overflow: hidden;
                .slide-container{
                    //scipt로 width
                    width: 800vw;
                    // margin-left: -80vw;
                    height: 100%;
                    background: rgb(103, 109, 194);
                    border-radius: 30px;
                    //슬라이드 움직임
                    position: relative;
                    .slide{
                        float: left;
                        width: 80vw;
                        height: 45vw; 
                        background: rgb(197, 214, 157);
                        border-radius: 30px; 
                        //title, num && slide 위치
                        position: relative;
                        .slide-img{
                            width: 100%;
                            height: 100%;
                            background: rgb(0, 94, 36);
                            border-radius: 30px; 
                            position: relative;
                            iframe{
                                position: absolute; left: 0; top: 0;
                                width: 100%; height: 100%;
                                transform: scale(1); transform-origin: top left;
                                border-radius: 30px; 
                                border: 0;
                                box-sizing: border-box;
                            }
                        }
                        .slide-title{
                            position: absolute; left: 1.5%; top: 2%;
                            h3{
                                font-size: 2.5vw; 
                                font-family: 'Poppins'; 
                                font-weight: 700;
                                color: #fff;
                                overflow: hidden;
                                display: flex;
                                span{
                                    opacity: 0;
                                    transform-origin: bottom left;
                                    transform: translate(20%, 100%);
                                    transition: all 1s ease;
                                }
                            }
                        }
                        .slide-num{
                            position: absolute; left: 25%; top: 2%;
                            span{
                                font-size: 2.5vw; 
                                font-family: 'Poppins';
                                font-weight: 700;
                                opacity: 0;
                                transition: opacity 0.1s 1s ease;
                            }
                            .currentIndex{
                                padding: 0 2vw 0 0;
                                position: relative;
                                &::before{
                                    content: ''; position: absolute; right: 20%; top: 50%; width: 0.45vw; height: 80%; 
                                    background: #000; 
                                    transform: translate(0,-50%) skewX(-15deg);
                                }
                            }

                            &:before{
                                content: '';  position: absolute; left: 0; top: 0%;
                                // background: rgba(0, 159, 216, 1); 
                                background: #6493af;
                                width: 100%; height: 100%;
                                border-radius: 5px;
                                z-index: 1;
                                transform: scaleX(0);
                            }
                        }
                    }//.slide
                    .slide.slider-active .slide-title h3 span{
                        opacity: 1; 
                        transform: translate(0,0);
                        transition: all 1s ease;
                    }
                    .slide.slider-active .slide-num{
                        span{
                            opacity: 1;
                        }
                        &:before{
                            animation: slideNum 1s 0.5s ease;
                        }
                    }
                }//.slide-container
            }
            .btn-prev{
                width: 10vw; height: 10vw;
                position: absolute; left: 0; top: 50%;
                transform: translate(0,-50%);
                .arrow{
                    transform: rotate(180deg);
                    path{stroke: #000;}
                }
            }
            .btn-prev:hover .arrow path{stroke: #6493af;}
            .btn-next{
                width: 10vw; height: 10vw;
                position: absolute; right: 0; top: 50%;
                transform: translate(0,-50%);
                .arrow{
                    path{stroke: #000;}
                }
            }
            .btn-next:hover .arrow path{stroke: #6493af;}
            .slide-dots{
                width: 40vw; height: 2vw;
                position: absolute; left: 50%; bottom: 0;
                transform: translate(-50%,120%);
                background: rgb(51, 106, 255);
                display: flex; 
                justify-content: space-between;
                .dot{
                    width: 2vw; height: 2vw;
                    border-radius: 30%;
                    border: 0.2vw solid #000;
                    //숫자 위치
                    position: relative;
                    box-sizing: border-box;
                    background: #6493af;
                    background-image: linear-gradient(180deg,#0000,#0002), radial-gradient(90% 15% at 50% 8%,#fff7 25%,#fff0 50%);
                              //아래                      위                                    아래 안                                      왼 안                                             오른 안       
                    box-shadow: 0 0.1vw 0 0.05vw #0007, 0 -0.15vw 0 0.05vw rgba(0,0,0,0.3), 0 -0.15vw 0 0.08vw rgba(0,0,0,0.3) inset, 0.1vw 0 0.05vw rgba(255, 255, 255, 0.7) inset, -0.1vw 0 0.05vw rgba(255, 255, 255, 0.7) inset;
                    span{
                        position: absolute; left: 50%; top: 50%;
                        transform: translate(-50%,-50%);
                        font-size: 1vw;
                        font-weight: 800;
                        text-shadow: 0 0 0.2vw #ffff;
                    }
                }
                .dot.dot-active{
                    background: #FDC60A;
                }
                .dot:hover{
                    box-shadow: 0 -0.1vw 0 0.05vw rgba(0,0,0,0.3), 0 -0.1vw 0.1vw 0.1vw rgba(0,0,0,0.3) inset, 0 0.1vw 0.1vw 0.1vw rgba(0,0,0,0.3) inset;
                    span{
                        font-size: 0.9vw;
                    }
                }
                .dot:hover.dot-active{
                } 
            }//.slide-dots
            
        }
    }
}
@keyframes slideNum{
    0%{transform-origin: left; transform : scaleX(0);}
    50%{transform-origin: left; transform : scaleX(1);}
    51%{transform-origin: right; transform : scaleX(1);}
    100%{transform-origin: right; transform : scaleX(0);}
}

/*콘텐츠 - 사이트*/
#page-group.site{}
.site-style{
    margin: 0 0 2vw 0;
    .container{
        width: 100%;
        height: 470vw;
        padding: 10vw 0 0 0;
        background: rgb(184, 184, 184);
        .title{
            text-align: center;
            margin: 0 0 5vw 0;
            .title-main{
                font-size: 3vw;
                strong{color: #FDC60A;}
            }
            .title-sub{
                font-size: 1vw;
                color: rgb(54, 54, 54);
            }
        }
        .item-list-site{
            width: 100%; 
            height: 450vw;
            background: rgb(183, 255, 193);
            //아이패드 위치
            position: relative;
            svg{
                width: 90vw;
                margin: 0 0 0 5vw;
                path {
                    stroke-dasharray: 12600;
                    // stroke-dashoffset: 12600;
                    stroke-dashoffset: 0;
                  }
            }
            .site{
                width: 22vw;
                // height: 20vw;
                background: #ffe17d;
                //h4위치, 농심 site-name위치
                position: relative;
                .site-name{
                    // width: ;
                    margin: 0 0 2vw 0;
                    h3{
                        display: flex;
                        justify-content: space-between;
                        // align-items: center;
                        .spell{
                            //sol#1
                            width: 3vw; height: 3vw;
                            background: rgba(0,153,222,1);
                            //sol#2 site-name넘어감
                            // padding: 1vw; box-sizing: border-box;
                            position: relative;
                            border-radius: 30%;
                            box-shadow: 0 -0.1vw 0.2vw rgba(253,198,10,1), 0 0.1vw 0.1vw rgba(0, 0, 0, 0.2), -0.1vw -0.1vw 0.3vw rgba(255, 255, 255, 0.5) inset, 0.1vw 0.1vw 0.3vw rgba(255, 255, 255, 0.8) inset ;
                            span{
                                //sol#1
                                position: absolute; left: 50%; top: 50%;
                                transform: translate(-50%,-50%);
                                font-size: 2vw;
                                font-weight: 800;
                                font-family: 'ghanachoco';
                                color: #FDC60A;
                                text-shadow: 0 0 0.5vw #FDC60A, 0 0 1vw #FDC60A;
                                animation: glow 5s linear infinite;
                            }
                        }
                    }
                    //사이트 이름 두 줄일 때 
                    // h4{
                    //     position: absolute; right: -7vw; top: 0;
                    //     display: flex;
                    //     .spell{
                    //         //sol#1
                    //         width: 3vw; height: 3vw;
                    //         background: rgba(0,153,222,1);
                    //         //sol#2
                    //         // padding: 1vw; box-sizing: border-box;
                    //         position: relative;
                    //         border-radius: 30%;
                    //         box-shadow: 0 -0.1vw 0.2vw rgba(253,198,10,1), 0 0.1vw 0.1vw rgba(0, 0, 0, 0.2), -0.1vw -0.1vw 0.3vw rgba(255, 255, 255, 0.5) inset, 0.1vw 0.1vw 0.3vw rgba(255, 255, 255, 0.8) inset ;
                    //         span{
                    //             //sol#1
                    //             position: absolute; left: 50%; top: 50%;
                    //             transform: translate(-50%,-50%);
                    //             font-size: 2vw;
                    //             font-weight: 800;
                    //             font-family: 'ghanachoco';
                    //             color: #FDC60A;
                    //             text-shadow: 0 0 0.5vw #FDC60A, 0 0 1vw #FDC60A;
                    //             animation: glow 5s linear infinite;
                    //         }
                    //     }
                    // }
                }
                //사이트 이름 한 줄 따로 빼줄 때
                // .site-name.nongshim{
                //     position: absolute; top: -5vw;
                // }
                img{
                    width: 100%;
                }
                .beam{
                    position: relative; 
                    // left: 50%;
                    margin: 0 auto;
                    width: 7vw; 
                    height: 7vw;
                    background: rgb(123, 255, 244);
                    //perspective 작아질 수록 빔이 넓게 퍼짐
                    perspective: 25vw;
                    .shine{
                        //left 0 대신 50%, translate한 이유: shine scaleX 줄였다가 오버하면 커져서 가운데 정렬 필요
                        position: absolute; left: 50%; top: 0%;
                        // transform-origin: center bottom;
                        transform: translate(-50%,-50%);
                        width: 100%; height: 100%;
                        transform: translate(-50%,0) scaleY(0.1) scaleX(0.8);
                        // background: linear-gradient(to bottom, rgba(253,198,10,0) 0%, rgba(253,198,10,0.8) 90%, rgba(253,198,10,0) 100%);
                        background: linear-gradient(to bottom, rgba(253,198,10,0) 0%, rgba(253,198,10,0.8) 100%);
                        transition: transform 0.7s ease;
                    }
                    .ground-tilter{
                        width: 100%; height: 100%;
                        transform: rotateX(30deg);
                        transition: transform 1s ease;
                        .ground{
                            width: 100%; height: 100%;
                            border-radius: 50%;   
                            background: #fff;
                           //오버땔 때 shine먼저 트랜지션, delay 0.2초 다음에 ground트랜지션
                            // transition: box-shadow  0.7s ease 0.2s;
                            transition: box-shadow  0.7s ease;
                        }
                    }
                }

                &.nongshim{
                    width: 28.5vw;
                    z-index: 0;
                    .item{
                        width: 22vw;
                        display: block;
                        margin: 0 auto;
                        background: rgb(241, 84, 255);
                        position: relative;
                        //둥근 모서리 밖으로 안 보이게 컨테이너 필요함
                        .item-thumbnail{
                            position: absolute; left: 0; bottom: 0;
                            width: 100%;
                            height: 93.4%;
                            background: rgb(150, 222, 255);
                            border-radius: 5%;
                            overflow: hidden;
                            .thumbnail-site{
                                width: 100%;
                            }
                        }
                        .ipad{
                            position: relative;
                            width: 100%;
                            z-index: 1;
                        }
                    }
                }
            }
            //각 사이트 위치
            .site.standard{
                position: absolute;
                left: 5%; top: 19%;
                
            }
            .site.responsive{
                position: absolute;
                // right: 11%; top: 36.5%;
                right: 20%; top: 23%;
            }
            .site.nongshim.main{
                position: absolute;
                // left: 11%; top: 55%;
                left:  66%; top: 36.5%;
            }
            //오버
            .site:hover img{
                animation: updown 1.8s linear infinite;
            }
            .site:hover.nongshim{
                .item-thumbnail{
                   animation: updown 1.8s linear infinite;
                   .thumbnail-site{
                     animation: thumbnail 8s linear infinite; 
                   }
                }
            }
            .site:hover .beam .shine{
                transform: translate(-50%, -35%) scaleY(1.1) scaleX(1.1) rotateX(-55deg);
                //오버할 때 ground먼저 트랜지션, delay 0.2초 다음에 shine트랜지션
                // transition: transform 0.7s ease 0.2s; 
                transition: transform 0.7s ease; 
            }
            .site:hover .beam .ground-tilter{
                transform: scale(0.9) rotateX(65deg);
            }
            .site:hover .beam .ground{
                box-shadow: 0 0 0.5vw 0.5vw #FDC60A;
                border: 0.3vw dashed #fff;
                background: url(../images/site/lighting2.gif);
                // background: #fff;
                background-size: cover;
                box-sizing: border-box;
                animation: spin 2s linear infinite;
                transition: box-shadow  0.7s ease 0.15s;
            }
        }
    }
}
@keyframes glow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}
@keyframes spin {
    0% { transform: rotateZ(0deg); }
  /*   50% { transform: rotateZ(180deg); } */
    100% { transform: rotateZ(360deg); }
}
@keyframes updown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-0.8vw); }
    100% { transform: translateY(0); }
}

#page-group.mobile{}
.mobile-style{
    margin: 0 0 2vw 0;
    .container{
        width: 100%;
        height: 130vw;
        padding: 10vw 0 0 0;
        background: rgb(237, 255, 214);
        overflow: hidden;
        .title{
            .title-main{
                width: 100vw;
                height: 50vw;
                background: rgb(12, 21, 51);
                overflow: hidden;
                svg{
                    width: 100%;
                    height: 100%;
                    .clip{
                        //animation: clipWave 10s infinite ease;
                        transform: scaleY(0);
                    }
                }
            }
        }
        .item-list-mobile{
            //화살
            position: relative;
            .slide-wrap{
                //여기 slide-wrap크기는 slide크기 정하는 기준 정도로만 쓰임
                width: 50vw; 
                height: 45vw;
                margin: 10vw auto;
                background: rgb(247, 255, 174);
                .slide-container{
                    position: relative;
                    width: 100%; 
                    height: 100%;
                    .slide{
                        width: 38%; height: 100%;
                        position: absolute; left: 50%; top: 0;
                        //slide에 transform넣으면, 각 슬라이드 transform속성이 먼저 적용되서 무시됨! 합쳐지지 않음...
                        // transform: translateX(-50%);
                        background: rgb(138, 255, 220);
                        transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
                        z-index: 1;    
                        cursor: pointer;
                        .item-thumbnail{
                            position: absolute; left: 0; top: 0;
                            width: 100%; 
                            // height: 97%;
                            height: 43.5vw;
                            background: rgb(150, 222, 255);
                            z-index: -1;
                            border-radius: 10%;
                            overflow: hidden;
                            transition: transform 0.25s ease-out;
                            .thumbnail-mobile{
                                width: 100%;
                                // transition: all 0.5s ease-out;
                            }
                        }
                        .smartphone{
                            width: 100%;
                            transition: transform 0.25s ease-out;
                        }
                        &::before{
                            content: ''; display: block;
                            position: absolute; left: 50%; bottom: -5%;
                            transform: translate(-50%, 0);
                            transition: all 0.25s;
                            width: 60%; height: 4%; 
                            border-radius: 30%;
                            background: rgba(253,198,10,1);
                            // border: 1px solid rgba(253,198,10,0.9);
                            box-shadow: 0 0 1vw 0.9vw rgba(253,198,10,1);
                            transition: width 0.25s ease-out;
                        }
                    }
                    //슬라이드에 오버
                    .slide:hover .item-thumbnail{
                        transform: translateY(-0.95vw);
                        transition: transform 0.3s ease-in;
                            .thumbnail-mobile{
                                animation: thumbnail 3s linear infinite;
                            }
                            .thumbnail-mobile.music{
                                animation: thumbnail 4s linear infinite;
                            }
                            .thumbnail-mobile.toss{
                                animation: thumbnail 12s  linear infinite;
                            }
                            .thumbnail-mobile.every{
                                animation: thumbnail 8s  linear infinite;
                            }
                    }
                    .slide:hover .smartphone{
                        transform: translateY(-1vw);
                        transition: transform 0.3s ease-in;
                    }
                    .slide:hover::before{
                        width: 50%;
                        transition: width 0.3s ease-in;
                    }
                    //각 슬라이드 위치
                    .slide.s1{
                        transform: translateX(-50%) scale(1) translate3d(0, 0, 0);
                        z-index: 2;
                    }
                    .slide.s2{
                        transform: translateX(-50%) scale(0.7) translate3d(240%, -10%, 0);
                        z-index: 1;
                    }
                    .slide.s3{
                        transform: translateX(-50%) scale(0.5) translate3d(180%, -31%, 0);
                        z-index: 0;
                    }
                    .slide.s4{
                        transform: translateX(-50%) scale(0.5) translate3d(-180%, -31%, 0);
                        z-index: 0;
                    }
                    .slide.s5{
                        transform: translateX(-50%) scale(0.7) translate3d(-240%, -10%, 0);
                        z-index: 1;
                    }
                }
            }
            .btn-prev{
                width: 10vw; height: 8vw;
                position: absolute; left: 1%; top: 40%;
                transform: translate(0,-50%);
                z-index: 3;
                .arrow{
                    transform: rotate(180deg);
                    transition: all 0.5s cubic-bezier(.2,1,.3,1);
                    path{
                        stroke: #000;
                    }
                    .fixed-arrow-tail{
                        path{stroke: rgba(253,198,10,1);}
                        rect{stroke: rgba(253,198,10,1);}
                    }
                }
            }
            .btn-prev:hover .arrow path{ stroke: rgba(253,198,10,1);}
            .btn-prev:hover .arrow .fixed-arrow{ animation: fixed-arrow 1s cubic-bezier(.2,1,.3,1) infinite; }
            .btn-prev:hover .arrow .active-arrow{ animation: active-arrow 1s cubic-bezier(.2,1,.3,1) infinite; }
            .btn-next{
                width: 10vw; height: 8vw;
                position: absolute; right: 1%; top: 40%;
                transform: translate(0,-50%);
                z-index: 3;
                .arrow{
                    transition: all 0.5s cubic-bezier(.2,1,.3,1);
                    path{
                        stroke: #000;
                    }
                    .fixed-arrow-tail{
                        path{stroke: rgba(253,198,10,1);}
                        rect{stroke: rgba(253,198,10,1);}
                    }
                }
            }
            .btn-next:hover .arrow path{ stroke: rgba(253,198,10,1);}
            .btn-next:hover .arrow .fixed-arrow{ animation: fixed-arrow 1s cubic-bezier(.2,1,.3,1) infinite; }
            .btn-next:hover .arrow .active-arrow{ animation: active-arrow 1s cubic-bezier(.2,1,.3,1) infinite;}
            .slide-dots{
                width: 20vw; height: 2vw;
                background: rgb(171, 210, 255);
                position: absolute; right: 5%; bottom: 5%;
                display: flex;
                justify-content: space-between;
                .dot{
                    width: 2vw; height: 2vw;
                    border-radius: 30%;
                    background: #000;
                    border: 0.2vw solid #000;
                    box-sizing: border-box;
                    //숫자 위치
                    position: relative;
                    overflow: hidden;
                    span{
                        position: absolute; left: 50%; top: 50%;
                        transform: translate(-50%,-50%);
                        font-size: 1vw;
                        font-weight: 800;
                        text-shadow: 0 0 0.2vw  #ffff;
                        color: #fff;
                    }
                    &:before{
                        content: ''; width: 100%; height: 100%; 
                        position: absolute; left: 0; top: 0; 
                        background: linear-gradient(to right, #fff0 0%, #ffff 50%, #fff4 55%,#fff0 100%);
                        filter: blur(0.1vw);
                        transform: translateX(-100%) skew(30deg, 0);
                        transition: transform 0.5s ease;
                    }
                }
                .dot.dot-active{
                    background: #FDC60A;
                    // span{color: #000;}
                }
                .dot:hover{
                    box-shadow: 0.2vw 0.2vw 0.2vw 0 rgba(255,255,255,0.3), -0.2vw -0.2vw 0.2vw 0 rgba(122, 122, 122, 0.2) inset, 0.2vw 0.2vw 0.2vw 0 rgba(255, 255, 255, 0.2) inset;
                }
                .dot:hover:before{
                    transform: translateX(100%) skew(30deg, 0);
                }
                .dot:hover.dot-active{
                    box-shadow: 0.2vw 0.2vw 0.2vw 0 rgba(255,255,255,0.3), -0.2vw -0.2vw 0.2vw 0 rgba(255,255,255,0.2) inset, 0.2vw 0.2vw 0.2vw 0 rgba(0, 0, 0, 0.2) inset;
                }
            }
        }
    }
}
@keyframes clipWave{
    from {
    /* transform: translateY(-100%); */
    transform: scaleY(0);
    }
    50% {
    /* transform: translateY(20%); */
    transform: scaleY(1.5);
    }
    to {
    /* transform: translateY(-100%); */
    transform: scaleY(0);
    }
}
@keyframes fixed-arrow{
    0% {
		opacity: 0;
	}
    5% {
		opacity: 0;
	}
	20% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes active-arrow{
    0% {
		opacity: 1;
		transform: translateX(0);
	}
	5% {
		transform: translateX(-0.5vw);
	}
	100% {
		transform: translateX(3vw);
		opacity: 0;
	}
}

@keyframes thumbnail{
    0%{ transform: translateY(0);}
    100%{transform: translateY(-100%);}
}

#page-group.contact{}
.contact-style{
    margin: 0 0 2vw 0;
    .container{
        width: 100%;
        height: 300vw;
        padding: 10vw 0 0 0;
        background: rgb(240, 163, 255);
        .scroll-contact{
            width: 100%;
            height: 200vw;
            background: rgb(17, 97, 17);
            .scroll-container-contact{
                width: 100%; 
                height: 100%;
                background: rgb(255, 147, 47);
                svg{
                    font-size: 5vw;
                    font-family: 'ghanachoco';
                }
                
            }
        }
    }
}











