//쇼미더머니
*{margin: 0; padding: 0;}
.container.showMe{
    max-width: 768px; 
    margin: 0 auto;
    // background: violet;
    // height: 1689px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    .container.bg{
        // max-width: 768px;
        // margin: 0 auto;
        // position: absolute;
        // z-index: -1;
        background-image: url('../img/bg.jpg');
        background-size: cover;
        .bg{
            width: 100%;
        }
    }
    .container-header{
        padding: 16% 0 0 0;
        .topBar{
            width: 100%;
        }
    }
    .container-title{
        width: fit-content;
        margin: 0 auto;
    }

}

@media(max-width: 600px){
    .container.showMe{
        .container.bg{
        }
        .container.header{
            .topBar{
                width: 100%;
            }
        }
    
    }
}