@font-face { 
    font-family: 'JSDongkang-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }

  
  @mixin content($position: absolute, $content: ""){
    content: $content;
    position: $position;
  }
  
  body {
    height: 100vh;
    background: rgba(253,198,10,0.3); 
    font-family: 'JSDongkang-Regular'; 
  }
  
  .hover-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    figure {
      position: relative;
      width: 50vw;
      margin: 0.5vw;
      overflow: hidden;
      img {
        width: 100%;
        vertical-align: top;
      }
    }
    figure:first-child {
      background: radial-gradient(circle, rgba(255,229,36,1) 0%, rgba(218,101,45,1) 100%);
    }
    figure:last-child {
      background: radial-gradient(circle, rgba(242,255,221,1) 0%, rgba(6,91,6,1) 100%);
    }
    
    figure:before {
      @include content;
      width: 10vw; height: 0.5vw; background: #fff;
      left: 50%; top: 50%; z-index:1;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
    }
    figure:after {
      @include content;
      width: 0.5vw; height: 10vw; background: #fff;
      left: 50%; top: 50%; z-index:1;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
    }
    
    figcaption {
      color: #fff;
      position: absolute; left:0; bottom: 0;
      background: rgba(0,0,0,0.4);
      width: 100%; padding: 20px;
      box-sizing: border-box;
      h3 {
        font-size: 5vw;
        padding-bottom: 7px;
        margin: 0.5vw;
      }
      p {
        font-size: 3vw;
        margin: 0.5vw;
      }
    }
  }
  
  @media (max-width:800px){
    .hover-wrap {flex-direction: column;}
  }
  
  /* Hover Effect3 */
  .hover-wrap figure:first-child img {transition: all 0.3s ease;}
  .hover-wrap figure:first-child:hover img {opacity: 0.6}
  .hover-wrap figure:first-child:before {left: -20%;}
  .hover-wrap figure:hover:first-child:before {left: 50%;}
  .hover-wrap figure:first-child:after {top: -20%;}
  .hover-wrap figure:hover:first-child:after {top: 50%;}
  
  /* Hover Effect4 */
  .hover-wrap figure:last-child img {transition: all 0.3s ease;}
  .hover-wrap figure:last-child:hover img {opacity: 0.6;}
  .hover-wrap figure:last-child:before {left: 120%;}
  .hover-wrap figure:hover:last-child:before {left: 50%;}
  .hover-wrap figure:last-child:after {top: 120%;}
  .hover-wrap figure:hover:last-child:after {top: 50%;}

  