#wrap {
  width: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
}

.container .container1 {
  width: 25%;
  float: left;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .container1 .logo img {
  width: 150px;
}

.container .container1 nav {
  font-weight: bold;
  margin-top: 40px;
}

.container .container1 nav ul li {
  background-color: #eef6ff;
}

.container .container1 nav ul li a {
  display: block;
}

.container .container1 nav ul li ul {
  margin-bottom: 10px;
}

.container .container1 nav ul li ul li {
  background-color: #3a74f1;
  font-size: 13px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.container .container1 nav ul li ul li:hover {
  background-color: #d32525;
}

.container .container1 nav ul li:hover {
  background-color: #2762b1;
}

.container .container2 {
  width: 75%;
  float: left;
  margin: 0 auto;
}

.container .container2 .banner img {
  width: 100%;
}

.container .container2 .content1 {
  height: 190px;
  margin-top: 20px;
  position: relative;
  /*//ul*/
}

.container .container2 .content1 ul {
  text-align: center;
  /*//li*/
}

.container .container2 .content1 ul li {
  display: inline;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 0;
  /*//ul*/
}

.container .container2 .content1 ul li .serviceList {
  margin-top: 20px;
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  /*//li*/
}

.container .container2 .content1 ul li .serviceList div {
  font-size: 10px;
  font-weight: bold;
  float: left;
  width: 19.2%;
  padding-right: 1%;
  overflow: hidden;
  white-space: normal;
}

.container .container2 .content1 ul li .serviceList div a {
  display: block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 150px;
  padding: 10px;
}

.container .container2 .content1 ul li .serviceList div a img {
  width: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container .container2 .content1 ul li .serviceList div:last-child {
  padding-right: 0;
}

.container .container2 .content2 {
  padding: 10px;
  float: left;
  background-color: #f7f7f7;
  margin-top: 20px;
}

.container .container2 .content2 article {
  padding-right: 2%;
  width: 32%;
  float: left;
  text-align: center;
}

.container .container2 .content2 article .content2-box {
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
  position: relative;
}

.container .container2 .content2 article .content2-box p {
  font-size: 16px;
  font-weight: bold;
}

.container .container2 .content2 article .content2-box img {
  width: 70px;
  margin: 20px 0;
}

.container .container2 .content2 article .content2-box ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  color: #7e7e7e;
  padding-left: 10px;
}

.container .container2 .content2 article .content2-box ul ::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 8px;
  width: 4px;
  height: 4px;
  background-color: #7e7e7e;
}

.container .container2 .content2 article .content2-box .more {
  position: absolute;
  right: 20px;
  top: 0px;
  width: 25px;
  height: 25px;
}

.container .container2 .content2 article:first-child {
  padding-left: 0;
}

.container .container2 .content2 article:last-child {
  padding-right: 0;
}

.container footer {
  width: 100%;
  height: 110px;
  background-color: #edf2f8;
  float: left;
  margin-top: 20px;
}

.container footer .f_logo {
  float: left;
  margin: 20px 0 0 10px;
}

.container footer .f_logo img {
  height: 70px;
}

.container footer ul {
  float: left;
  margin: 30px 0 0 20px;
}

.container footer ul li {
  font-weight: bold;
  font-size: 12px;
  line-height: 2px;
}

.container footer .f_sm {
  float: right;
  margin: 30px 10px 0 0;
}

.container footer .f_sm img {
  height: 50px;
}
/*# sourceMappingURL=style.css.map */