*{margin: 0; padding: 0;}

html{
    font-size: .75151vw;
}

.container{max-width: 375px; margin: 0 auto;}
.row{margin: 0 6px;}
.row2{margin: 0 17px;}

#header{position: fixed; left: 0; top: 0; width: 100%; background: #fff; z-index: 2;
}
#header.active{border-bottom: 1px solid #c4c4c4; box-shadow: 1px 0px 6px 0px rgba(0,0,0,0.3);}
.header{position: relative;}
.header-title{font-size: 12px; color: #B9372B; letter-spacing: 3%; margin: 45px 0 0 0; }
.header-univ{font-size: 22px; font-weight: bold; letter-spacing: 3%; margin: 0 0 12px 0;}
.header-search svg{width: 20px; color: #B9372B; position: absolute; right: 50px; top: 23px;}
.header-account svg{width: 20px; color: #B9372B; position: absolute; right: 0; top: 23px;}


#info{margin: 112px 0 0 0;}
/* #info .info,#info .container, #info .row{overflow: hidden;} */
#info .row2{
    overflow: hidden;
}
.info{
    /* min-width: 900px; */
    /* width: 70rem; */
    /* width: ; */
    width: 900px;
    /* height: 192px; */
    /* width: 20rem; */
    display: flex; 
   
    position: relative;
    /* left: -10px;  */
    /* overflow: hidden; */
}
.info .col {
    padding-right: 8px;
    /* display: flex; flex-direction: column; */
    
}
.info .col .box{
    width: 290px;
    height: 192px;
    padding: 25px 25px 25px 60px;
    border: 1px solid #c4c4c4;
    border-radius: 7%;
    box-sizing: border-box;
    position: relative;
}
 
.info .col .box i{ position: absolute; left: 25px; top: 25px; font-size: 25px;}
.info .col .box h2{font-size: 18px; font-weight: bold; letter-spacing: -4%;}
.info .col .box p{font-size: 12px; letter-spacing: 2.5%; color: #ACD6A8;}



