// colors
$bg-color: #276c94;
$line-color: #5185a5;
$minion-color: #ffd978;
$mouth-color: #2b3149;
$gogle-color: #bec9e5;
$gogle-shadow-color: #fec365;
$gogle-line-color: #2b334a;
$gogle-holder-color: #7e8ca7;
$gogle-holder-dark-color: #50617b;
$eye-shadow-color: #d2d2d2;
$eye-border-color: #7c8ca6;
$eye-color: #ffffff;
$eye-ball-color: #2c324a;
$shirt-color: #839fd3;
$button-color: #2d314a;
$logo-color: #2b314b;
$glove-color: #2c324a;
$shirt-shadow-color: #ffb172;
$pant-color: #677fae;
$pant-dark-color: #51627c;
$foot-color: #2c324a;
$base-color: #2c4a6c;


// mixins
@mixin center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@mixin pseudo($position: absolute, $content: "") {
    content: $content;
    position: $position;
}

html, body {
	width: 100%; height: 100%;
}

body {
    // background: $bg-color;
    background: rgba(253,198,10,1);
	overflow: hidden;
}

.line-container {
	@include center;
	top: -5vmin;
	width: 90vmin;
	height: 50vmin;
	transform: rotate(-7deg);
	
	.line-1 {
		width: 6vmin;
		height: 5vmin;
		background: $line-color;
		position: absolute;
		top: 2vmin;
		left: 6vmin;
		border-radius: 5vmin;
			
		&:before {
			@include pseudo;
			width: 58.5vmin;
			height: 5vmin;
			background: $line-color;
			border-radius: 5vmin;
			left: 8vmin;
		}
		&:after {
			@include pseudo;
			left: 68vmin;
			width: 8vmin;
			height: 5vmin;
			background: $line-color;
			border-radius: 5vmin;
		}
	}
}

.line-2 {
	position: absolute;
	top: 12vmin;
	left: 8.5vmin;
	width: 75vmin;
	height: 5vmin;
	background: $line-color;
	border-radius: 5vmin;
}

.line-3 {
	width: 6vmin;
	height: 5vmin;
	background: $line-color;
	border-radius: 5vmin;
	position: absolute;
	top: 22vmin;
	left: 11vmin;
	
	&:before {
		@include pseudo;
		width: 55vmin;
		height: 5vmin;
		background: $line-color;
		border-radius: 5vmin;
		left: 8vmin;
	}
}

.line-4 {
	width: 55.5vmin;
	height: 5vmin;
	background: $line-color;
	border-radius: 5vmin;
	position: absolute;
	top: 33vmin; left: 11vmin;
	
	&:after {
		@include pseudo;
		width: 11.5vmin;
		height: 5vmin;
		background: $line-color;
	  border-radius: 5vmin;
		left: 58vmin;
	}
}

.line-5 {
	position: absolute;
	width: 7.8vmin;
	height: 5vmin;
	background: $line-color;
	border-radius: 5vmin;
	top: 43.5vmin; left: 2vmin;
	
	&:before {
		@include pseudo;
		width: 67.5vmin; height: 5vmin;
		background: $line-color;
		border-radius: 5vmin;
		left: 9vmin;
	}
	&:after {
		@include pseudo;
		width: 6vmin; height: 5vmin;
		background: $line-color;
		border-radius: 5vmin;
		left: 78vmin;
	}
}


.upper-body {
	@include center;
	z-index: 2;
	width: 40vmin; height: 49.8vmin;
	background: $minion-color;
	top: -8vmin;
	border-top-left-radius: 20vmin;
	border-top-right-radius: 20vmin;
	border-bottom-left-radius: 2vmin;
	border-bottom-right-radius: 2vmin;
	overflow: hidden;
	
	.gogle-line {
		@include center;
		width: 41vmin; height: 4.3vmin;
		background: $gogle-line-color;
		top: -14.5vmin;
		z-index: -1;
		
		&:before {
			@include pseudo;
			width: 41vmin; height: 1.3vmin;
			background: $gogle-shadow-color;
			top: 4.25vmin;
		}
	}
}

.eye-abstract {
	width: 11.3vmin; height: 11.3vmin;
	background: $eye-shadow-color;
	border-radius: 50%;
	border: 1.5vmin solid $eye-border-color;
	overflow: hidden;
	
	&:before {
		@include pseudo;
		width: 11.3vmin; height: 11vmin;
		background: $eye-color;
		border-radius: 50%;
		top: 1vmin;
	}
	
	.eye-ball {
		@include center;
		width:5.2vmin; height: 5.2vmin;
		background: $eye-ball-color;
		border-radius: 50%;
		top: -1.5vmin;
		
		&:before {
			@include pseudo;
			width: 3.8vmin; height: 3.7vmin;
			background: $eye-color;
			border-radius: 50%;
			left: 2.6vmin; top: -0.8vmin;
		}
	}
}

.gogle-left {
	@include center;
	width: 18.5vmin; height: 18.5vmin;
	background: $gogle-color;
	border-radius: 50%;
	top: -14.2vmin; left: -16.7vmin;
	
	.eye-left {
		@include center;
		@extend .eye-abstract;
	}
}
.gogle-right {
	@include center;
	width: 18.5vmin; height: 18.5vmin;
	background: $gogle-color;
	border-radius: 50%;
	top: -14.2vmin; right: -16.7vmin;
	
	.eye-right {
		@include center;
		@extend .eye-abstract;
	}
}

.gogle-holder-left {
	position: absolute;
	width: 2vmin; height: 6.3vmin;
	background: $gogle-holder-color;
	left: 1.5vmin; top: 14.7vmin;
	border-top-left-radius: 1vmin;
	border-bottom-left-radius: 1vmin;
	
	&:before {
		@include pseudo;
		width: 3vmin; height: 1.2vmin;
		background: $gogle-holder-dark-color;
		top: 2.5vmin;
	}
}

.gogle-holder-right {
	position: absolute;
	width: 2vmin; height: 6.3vmin;
	background: $gogle-holder-color;
	right: 1.5vmin; top: 14.7vmin;
	border-top-right-radius: 1vmin;
	border-bottom-right-radius: 1vmin;
	
	&:before {
		@include pseudo;
		width: 3vmin; height: 1.2vmin;
		background: $gogle-holder-dark-color;
		top: 2.5vmin; left: -1vmin;
	}
}

.gogle-circle-left {
	@include center;
	width: 2.5vmin; height: 21.2vmin;
	background: $gogle-holder-color;
	border-radius: 2vmin;
	top: -14.2vmin; left: -16.5vmin;
	
	&:before {
		@include pseudo;
		width: 2.5vmin; height: 5vmin;
		top: 2.5vmin; left: -5.8vmin;
		background: $gogle-holder-color;
		border-radius: 2vmin;
		transform: rotate(-20deg);
	}
	&:after {
		@include pseudo;
		width: 2.5vmin; height: 5vmin;
		top: 13.9vmin; left: -5.8vmin;
		background: $gogle-holder-color;
		border-radius: 2vmin;
		transform: rotate(20deg);
	}
}

.gogle-circle-right {
	@include center;
	width: 2.5vmin; height: 21.2vmin;
	background: $gogle-holder-color;
	border-radius: 2vmin;
	top: -14.2vmin; right: -16vmin;
	
	&:before {
		@include pseudo;
		width: 2.5vmin; height: 5vmin;
		top: 2.5vmin; right: -5.85vmin;
		background: $gogle-holder-color;
		border-radius: 2vmin;
		transform: rotate(20deg);
	}
	&:after {
		@include pseudo;
		width: 2.5vmin; height: 5vmin;
		top: 13.9vmin; right: -5.8vmin;
		background: $gogle-holder-color;
		border-radius: 2vmin;
		transform: rotate(-20deg);
	}
}

.gogle-shadow-left {
	@include center;
	width: 18.5vmin; height: 18.5vmin;
	background: $gogle-shadow-color;
	border-radius: 50%;
	z-index: -1;
	top: -12vmin; left: -17vmin;
	
	&:before {
		@include pseudo;
		width: 2.5vmin; height: 5vmin;
		background: $gogle-shadow-color;
		border-radius: 2vmin;
		top: 14.7vmin; left: 8.3vmin;
	}
	&:after {
		@include pseudo;
		width: 2.5vmin; height: 5vmin;
		background: $gogle-shadow-color;
		border-radius: 2vmin;
		top: 12.9vmin; left: 2.5vmin;
		transform: rotate(35deg);
	}
}

.gogle-shadow-right {
	@include center;
	width: 18.5vmin; height: 18.5vmin;
	background: $gogle-shadow-color;
	border-radius: 50%;
	z-index: -1;
	top: -12vmin; right: -17vmin;
	
	&:before {
		@include pseudo;
		width: 2.5vmin; height: 5vmin;
		background: $gogle-shadow-color;
		border-radius: 2vmin;
		top: 14.7vmin; left: 7.3vmin;
	}
	&:after {
		@include pseudo;
		width: 2.5vmin; height: 5vmin;
		background: $gogle-shadow-color;
		border-radius: 2vmin;
		top: 12.6vmin; right: 2.5vmin;
		transform: rotate(-35deg);
	}
}

.mouth {
	@include center;
	z-index: -2;
	width: 11vmin; height: 6.5vmin;
	border: 1vmin solid $mouth-color;
	top: 7.5vmin; 
	border-top: none;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	
	&:before {
		@include pseudo;
		width: 17vmin; height: 5vmin;
		top: 0.25vmin; left: -2vmin;
		background: $minion-color;
	}
}

.shirt {
	@include center;
	width: 26.7vmin; height: 14vmin;
	background: $shirt-color;
	top: 36.5vmin;
	
	&:before {
		@include pseudo;
		width: 45vmin; height: 6vmin;
		background: $shirt-color;
		top: 8.7vmin; left: -10vmin;
	}
	
	.pocket {
		@include center;
		width: 11vmin; height: 8.5vmin;
		background: $pant-dark-color;
		top: 1vmin;
		border-radius: 1vmin 1vmin 1.5vmin 1.5vmin;
		overflow: hidden;
		
		&:before {
			@include pseudo;
			width: 11vmin; height: 8.5vmin;
			background: $pant-color;
			left: -0.4vmin;
			border-radius: 1vmin 1vmin 1.5vmin 1.5vmin;
		}
		
		.logo {
			@include center;
			color: $logo-color;
			text-transform: uppercase;
            top: 50%; left: 50%;
            height: 6.2vmin;
            transform: translate(-50%,-50%) scale(0);
            transform-origin: center center;
			font-size: 6vmin;
			font-weight: bold;
			text-shadow: .2vmin .2vmin 0 $pant-dark-color;
      transition: transform 0.3s ease;
		}
	}
}


.pant-top-left {
	@include center;
	width: 10vmin; height: 5.3vmin;
	background: $pant-dark-color;
	top: 45.2vmin; left: -36.7vmin;
	border-bottom-right-radius: 10vmin;
	
	&:before {
		@include pseudo;
		width: 9vmin; height: 4.5vmin;
		background: $pant-color;
		border-bottom-right-radius: 10vmin;
	}
}

.pant-top-right {
	@include center;
	width: 10vmin; height: 5.3vmin;
	background: $pant-dark-color;
	top: 45.2vmin; left: 33.2vmin;
	border-bottom-left-radius: 10vmin;
	
	&:before {
		@include pseudo;
		width: 9vmin; height: 4.5vmin;
		background: $pant-color;
		border-bottom-left-radius: 10vmin;
		left: 1vmin;
	}
}

.button-abstract {
	width: 2.5vmin; height: 2.5vmin;
	background: $button-color;
	border-radius: 50%;
	
	&:before {
		@include pseudo;
		width: 0.3vmin; height: 1.4vmin;
		background: $pant-color;
		border-radius: 1vmin;
		transform: rotate(45deg);
		top: 0.55vmin; left: 1.2vmin;
	}
	&:after {
		@include pseudo;
		width: 0.3vmin; height: 1.4vmin;
		background: $pant-color;
		border-radius: 1vmin;
		transform: rotate(-45deg);
		top: 0.55vmin; left: 1.2vmin;
	}
}


.shirt-top-left {
	@include center;
	z-index: 3;
	width: 3.3vmin; height: 16.2vmin;
	background: $pant-color;
	transform: rotate(-45deg);
	top: 16.5vmin; left: -31vmin;
	
	.button {
		@include center;
		top: 12.8vmin;
		@extend .button-abstract;
	}
}

.shirt-top-right {
	@include center;
	z-index: 3;
	width: 3.3vmin; height: 16.2vmin;
	background: $pant-color;
	transform: rotate(45deg);
	top: 16.5vmin; left: 31vmin;
	
	.button {
		@include center;
		top: 12.8vmin;
		@extend .button-abstract;
	}
}

.shirt-shadow-left {
	@include center;
	width: 3.3vmin; height: 16.2vmin;
	background: $shirt-shadow-color;
	transform: rotate(-45deg);
	top: 19.2vmin; left: -31vmin;
}
.shirt-shadow-right {
	@include center;
	width: 3.3vmin; height: 16.2vmin;
	background: $shirt-shadow-color;
	transform: rotate(45deg);
	top: 19.2vmin; left: 31vmin;
}

.hand-left {
	@include center;
	width: 10vmin; height: 11vmin;
	border: 3.3vmin solid $minion-color;
	top: 21.5vmin; left: -30.8vmin;
	border-radius: 10vmin;
	transform: rotate(30deg);
	
	&:before {
		@include pseudo;
		width: 6.2vmin; height: 6vmin;
		background: $glove-color;
		top: 9.8vmin; left: 1.2vmin;
		border-top-left-radius: 1.6vmin;
		border-bottom-left-radius: 1.6vmin;
		transform: rotate(10deg);
	}
}

.hand-right {
	@include center;
	width: 10vmin; height: 11vmin;
	border: 3.3vmin solid $minion-color;
	top: 21.5vmin; right: -30.6vmin;
	border-radius: 10vmin;
	transform: rotate(30deg);
	
	&:before {
		@include pseudo;
		width: 6.6vmin; height: 6vmin;
		background: $glove-color;
		top: 5.7vmin; right: -4.5vmin;
		border-top-right-radius: 1.6vmin;
		border-bottom-right-radius: 1.6vmin;
		transform: rotate(10deg);
	}
}


.lower-body {
	@include center;
	width: 38vmin; height: 10vmin;
	background: $shirt-color;
	top: 43.7vmin; z-index: 1;
	border-bottom-left-radius: 15vmin;
	border-bottom-right-radius: 15vmin;
}

.pant-left {
	@include center;
	width: 6vmin; height: 17.5vmin;
	background: $pant-color;
	top: 43.7vmin; left: -20.5vmin;
	transform: skewX(30deg);
	
	&:after {
		@include pseudo;
		width: 4vmin; height: 17.5vmin;
		background: $pant-color;
		border-bottom-right-radius: 1vmin;
		right: -5.4vmin;
		transform: skewx(-30deg);
	}
}

.pant-right {
	@include center;
	width: 6vmin; height: 17.5vmin;
	background: $pant-color;
	top: 43.7vmin; right: -20.5vmin;
	transform: skewX(-30deg);
	
	&:after {
		@include pseudo;
		width: 4vmin; height: 17.5vmin;
		background: $pant-color;
		border-bottom-left-radius: 1vmin;
		left: -5.8vmin;
		transform: skewx(30deg);
	}
}

.pant-center {
	@include center;
	width: 4vmin; height: 7vmin;
	background: $pant-color;
	top: 52vmin;
	
	&:before {
		@include pseudo;
		width: 3.2vmin; height: 3vmin;
		top: 5vmin; left: 0.25vmin;
		background: $bg-color;
		border-top-left-radius: 2vmin;
		border-top-right-radius: 2vmin;
	}
}


.foot {
	@include center;
	z-index: 10;
	width: 9.3vmin; height: 3vmin;	
	top: 64vmin; left: -13.3vmin;
	background: $foot-color;
	border-top-left-radius: 3vmin;
	border-bottom-right-radius: 1.5vmin;
	
	&:before {
		@include pseudo;
		width: 9.3vmin; height: 3vmin;
		left: 13.2vmin;
		background: $foot-color;
		border-top-right-radius: 3vmin;
		border-bottom-left-radius: 1.5vmin;
	}
}

.base {
	@include center;
	width: 35vmin; height: 3vmin;
	top: 68vmin;
	background: $base-color;
	border-radius: 50%;
}
.upper-body:hover .logo{
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
  transform-origin: center center;

}